<script>
	let teacherSignup
	let teacherLogin
	let studentLogin

	const validateEmail = (addr) => {
		const emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
		return (emailPattern.test(addr))
	}

	let submitTeacherSignup = async (e) => {
		e.preventDefault()
		let signupData = new FormData(teacherSignup)
		let signupObject = {
			first_name: signupData.get("first-name"),
			last_name: signupData.get("last-name"),
			email: signupData.get("email"),
			password: signupData.get("password")
		}

		if (!validateEmail(signupObject.email)) {
			alert("Invalid email address")
			return
		}

		let res = await fetch("/api/teacher/signup", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(signupObject)
		})

		if (res.status == 400) {
			alert("Invalid values")
		}

		location.reload()
	}

	let submitTeacherLogin = async (e) => {
		e.preventDefault()
		let loginData = new FormData(teacherLogin)
		let loginObject = {
			email: loginData.get("email"),
			password: loginData.get("password")
		}

		if (!validateEmail(loginObject.email)) {
			alert("Invalid email address")
			return
		}

		let res = await fetch("/api/teacher/login", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(loginObject)
		})

		if (res.status == 400) {
			alert("Invalid values")
		}

		if (res.status == 401) {
			alert("Incorrect username or password")
		}

		location.reload()
	}

	let submitStudentLogin = async (e) => {
		e.preventDefault()
		let loginData = new FormData(studentLogin)
		let loginObject = {
			username: loginData.get("username"),
			password: loginData.get("password")
		}

		for (const field in loginObject) {
			const FIELD_IS_EMPTY = loginObject[field].length === 0;
			if (FIELD_IS_EMPTY) {
				alert("Invalid values")
				return
			}
		}

		let res = await fetch("/api/student/login", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(loginObject)
		})

		if (res.status == 401) {
			alert("Incorrect username or password")
		}

		location.reload()
	}







</script>

<div class="screen-height">
	<main>
		<header class="site-header">
			<img src="/icons/galvan_512.png" alt="Galvan logo">
			<h1>Galvan</h1>
		</header>
		<div class="content-container">
			<section class="auth-section">
				<h2>Teachers</h2>
				<div class="forms-container">
					<form id="teacher-signup" bind:this={teacherSignup}>
						<h3>Sign up</h3>
						<label for="first-name">First name</label>
						<input name="first-name" type="text" class="view text-view">

						<label for="last-name">Last name</label>
						<input name="last-name" type="text" class="view text-view">

						<label for="email">Email</label>
						<input name="email" type="email" class="view text-view">
						
						<label for="password">Password</label>
						<input name="password" type="password" class="view text-view">

						<input type="submit" id="teacher-signup-button" class="button button-suggested" value="Sign up" on:click={submitTeacherSignup}>
					</form>
					<form id="teacher-login" bind:this={teacherLogin}>
						<h3>Login</h3>
						<label for="email">Email</label>
						<input name="email" type="email" class="view text-view">
						<label for="password">Password</label>
						<input name="password" type="password" class="view text-view">
						<input type="submit" id="teacher-login-button" class="button button-suggested" value="Login" on:click={submitTeacherLogin}>
					</form>
				</div>
			</section>
			<section class="auth-section">
				<h2>Students</h2>
				<div class="forms-container">
					<form id="student-login" bind:this={studentLogin}>
						<h3>Login</h3>
						<label for="username">Username</label>
						<input name="username" type="email" class="view text-view">
						<label for="password">Password</label>
						<input name="password" type="password" class="view text-view">
						<input type="submit" id="student-login-button" class="button button-suggested" value="Login" on:click={submitStudentLogin}>
					</form>
				</div>
			</section>
		</div>
	</main>
	<!-- HOMEPAGE
	<main>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item"><a on:click={handleLoginClick}>Login</a></li>
			</ul>
		</nav>
		<header id="page-banner">
			<div class="text-container">
				<h1>Galvan</h1>
				<p>The simple, self-hosted planner to bring professional project management strategies to the classroom.</p>
			</div>
		</header>
		<div class="story-sections-container">
			<section class="story-section" id="for-students">
				<div class="text-container">
					<h2>For Students</h2>
					<p>Organize your work how you want was kanban-style planner
						and a weekly calendar. Make learning a bit with
						constant, bite-sized reflection.</p>
				</div>
				<div class="image-container">
					<img src="../../public/images/promo_task-and-my-week.png">
				</div>
			</section>
			<section class="story-section" id="for-teachers">
				<div class="image-container">
					<img src="../../public/images/promo_teacher-comment.png">
				</div>
				<div class="text-container">
					<h2>For Teachers</h2>
					<p>With a focus on habitual self-reflection, Galvan has
						everything you need to effectively assess students
						within the changing curriculum.</p>
				</div>
			</section>
			<section class="story-section" id="for-administrators">
				<div class="text-container">
					<h2>For Administrators</h2>
					<p>Keep your servers triday and free with the ease of
						Docker and the trust of code licensed under the GNU
						General Public License.</p>
				</div>
			</section>
		</div>
	</main>
	-->
</div>

<style>
	main {
		margin-inline: auto;
		color: var(--fg-color);
		padding: 3rem;
		max-width: 1200px;
	}

	.site-header {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.site-header img {
		height: 5rem;
	}

	.site-header h1 {
		text-shadow: 0rem 0.1rem 0.1rem var(--shade);
		font-size: 3rem;
	}

	.content-container {
		display: flex;
		gap: 2rem;
		margin-inline: auto;
		flex-wrap: wrap;
	}

	section {
		background-color: var(--card-bg);
		padding: 2rem;
		box-shadow: var(--card-shadow);
		border-radius: var(--card-radius);
		margin-inline: auto;
		border: 1px solid var(--border);
	}

	h2 {
		margin: 0;
		font-weight: 700;
	}

	.forms-container {
		display: flex;
		gap: 2rem;
		padding: 1rem;
	}

	form {
		margin-block: auto;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 6rem 1fr;
		grid-template-rows: repeat(6, 2rem);
	}

	form:not(:last-child) {
		box-shadow: 1px 0px 0px var(--border);
		padding-right: 2rem;
	}

	form h3 {
		margin: 0;
		grid-column: 1 / span 2;
		font-weight: 500;
	}

	form label {
		margin-block: auto;
		text-align: right;
	}

	form input[type="submit"] {
		grid-column: 1 / span 2;
	}
	
	
	/* For normal homepage

	nav {
		display: flex;
		padding: 1rem;
	}

	.nav-list {
		margin: 0;
		margin-left: auto;
		list-style-type: none;
	}

	.nav-list-item {
		font-weight: 400;
		color: var(--accent-fg);
		cursor: pointer;
	}

	.nav-list-item:hover {
		filter: brightness(50%);
	}
	
	#page-banner {
		padding: 2rem;
		padding-top: 0;
		display: flex;
	}

	#page-banner .text-container {
		margin-inline: auto;
	}

	#page-banner h1 {
		font-size: 3rem;
		margin: 0;
		text-shadow: 0 2px 2px var(--shade);
	}

	#page-banner p {
		color: var(--black-500);
	}

	.story-sections-container {
		display: grid;
		flex-direction: column;
		height: 100vh;
		grid-template-rows: 30% 30% 30%;
	}

	.story-section {
		background-color: var(--silver-300);
		border-radius: 0.3rem 0.3rem 0 0;
		border: 1px solid var(--window-border);
		border-bottom: none;
		box-shadow: 0 -0.2rem 0.6rem var(--shade-darker), var(--window-highlight);
		display: grid;
		grid-template-columns: 45% 1fr;
	}

	.story-section .text-container {
		margin: auto;
		padding: 2rem;
	}

	.story-section h2 {
		color: var(--black-500);
		font-weight: 600;
		font-size: 2rem;
		margin: 0;
	}

	.story-section p {
		color: var(--secondary-fg-color);
		margin-left: 1.5rem;
		line-height: 1.7;
	}

	.story-section .image-container {
		margin-top: auto;
		padding-inline: 2rem;
		margin-bottom: -5px;
	}

	.story-section img {
		width: 100%;
	}

	.story-section#for-students {
		background-color: #ebebeb;
	}

	.story-section#for-teachers {
		background-color: #dcdcdc;
		transform: translateY(-5px);
	}

	.story-section#for-administrators {
		background-color: #cdcdcd;
		transform: translateY(-10px);
	}
	*/
</style>
