<script>
	import TaskCreator from "../components/TaskCreator.svelte"
	import TaskEditor from "../components/TaskEditor.svelte"
	import Planner from "../components/Planner.svelte"
	import AboutTeacher from "../components/AboutTeacher.svelte"
	import Window from "../components/Window.svelte"
	import StudentPreferences from "../components/StudentPreferences.svelte"
	import SidePaneContainer from "../components/SidePaneContainer.svelte"

	import { OpenWindows } from "../stores/OpenWindows.js"

	function handleOpenTaskCreator() {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, {
				type: "task-creator"
			}]
		})
	}

	async function handleLogout() {
		await fetch("/api/student/logout", { method: "DELETE" })
		location.reload()
	}

	function handleOpenPreferences() {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, {
				type: "student-preferences"
			}]
		})
	}

	function handleOpenAboutTeacher() {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, {
				type: "about-teacher"
			}]
		})
	}

	function closeWindow(e) {
		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}
</script>

<div class="screen-height">
	{#if $OpenWindows.length > 0}
		<main class="dim" on:click={closeWindow}>
			<div class="max-width-container">
				<div id="top-bar">
					<div class="button-container">
						<button id="add-task" class="button button-suggested" on:click={handleOpenTaskCreator}>+ Add Task</button>
					</div>
					<div class="button-container">
						<button class="button" id="about-teacher">About Teacher</button>
						<button class="button" id="settings">Preferences</button>
						<button class="button" id="logout" on:click={ handleLogout }>Logout</button>
					</div>
				</div>
				<Planner />
			</div>
			<SidePaneContainer />
		</main>
	{:else}
		<main>
			<div class="max-width-container">
				<div id="top-bar">
					<div class="button-container">
						<button id="add-task" class="button button-suggested" on:click={handleOpenTaskCreator}>+ Add Task</button>
					</div>
					<div class="button-container">
						<button class="button" id="about-teacher" on:click={ handleOpenAboutTeacher }>About Teacher</button>
						<button class="button" id="settings" on:click={ handleOpenPreferences }>Preferences</button>
						<button class="button" id="logout" on:click={ handleLogout }>Logout</button>
					</div>
				</div>
				<Planner />
			</div>
			<SidePaneContainer />
		</main>
	{/if}
	{#each $OpenWindows as win}
		{#if win.type == "task-creator"}
			<Window windowTitle="New Task">
				<TaskCreator />
			</Window>
		{:else if win.type == "task-editor"}
			<Window windowTitle="Edit Task">
				<TaskEditor task={win.task} />
			</Window>
		{:else if win.type == "student-preferences"}
			<Window windowTitle="Preferences">
				<StudentPreferences />
			</Window>
		{:else if win.type == "about-teacher"}
			<Window windowTitle="About Teacher">
				<AboutTeacher />
			</Window>
		{/if}
	{/each}
</div>

<style>
	.max-width-container {
		max-width: 930px;
		margin-inline: auto;
	}

	main.dim::after {
		background-color: black;
		opacity: 0.2;
		position: absolute;
		inset: 0 0 0 0;
		content: "";
	}

	main.dim {
		filter: blur(1px);
	}



	main {
		height: 100%;
		background-color: var(--window-bg);
		color: var(--window-fg);
	}

	#top-bar {
		display: flex;
		gap: 0.5rem;
		margin-right: 0;
		justify-content: space-between;
	}

	.button-container {
		padding: 0.5rem;
	}

	#controls-container {
		margin-left: auto;
		margin-right: 8%;
	}
</style>
