<script>
	import ClassSelector from "../components/ClassSelector.svelte"
	import ClassArea from "../components/ClassArea.svelte"
	import ClassCreator from "../components/ClassCreator.svelte"
	import ClassEditor from "../components/ClassEditor.svelte"
	import StudentDetails from "../components/StudentDetails.svelte"
	import StudentCreator from "../components/StudentCreator.svelte"
	import StudentEditor from "../components/StudentEditor.svelte"
	import EventDetails from "../components/EventDetails.svelte"
	import EventCreator from "../components/EventCreator.svelte"
	import EventEditor from "../components/EventEditor.svelte"
	import TeacherPreferences from "../components/TeacherPreferences.svelte"
	import Window from "../components/Window.svelte"

	import {OpenWindows} from "../stores/OpenWindows.js"

	async function logout() {
		let res = await fetch("/api/teacher/logout", { method: "DELETE" })
		location.reload();
	}

	function handleOpenTeacherPreferences() {
		OpenWindows.update((currentWindows) => {
			return currentWindows = [...currentWindows, {
					type: "teacher-preferences"
			}]
		})
	}

	function closeWindow(e) {
		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}
</script>

<div class="screen-height">
	{#if $OpenWindows.length > 0}
		<main class="dim" on:click={closeWindow}>
			<nav class="top-bar">
				<div class="button-container">
					<button class="button" on:click={handleOpenTeacherPreferences}>Preferences</button>
					<button class="button" on:click={logout}>Logout</button>
				</div>
			</nav>
			<ClassSelector />
			<ClassArea />
		</main>
	{:else}
		<main>
			<nav class="top-bar">
				<div class="button-container">
					<button class="button" on:click={handleOpenTeacherPreferences}>Preferences</button>
					<button class="button" on:click={logout}>Logout</button>
				</div>
			</nav>
			<ClassSelector />
			<ClassArea />
		</main>
	{/if}
	{#each $OpenWindows as win}
		{#if win.type == "student-creator"}
			<Window windowTitle="Add Student">
				<StudentCreator />
			</Window>
		{:else if win.type == "student-details"}
			<Window windowTitle="Student Details">
				<StudentDetails student={win.student} />
			</Window>
		{:else if win.type == "student-editor"}
			<Window windowTitle="Edit Student">
				<StudentEditor student={win.student} />
			</Window>
		{:else if win.type == "event-details"}
			<Window windowTitle={win.event.event_details.title}>
				<EventDetails event={win.event} student={win.student} />
			</Window>
		{:else if win.type == "event-creator"}
			<Window windowTitle="Add Event">
				<EventCreator student={win.student} />
			</Window>
		{:else if win.type == "event-editor"}
			<Window windowTitle="Edit Event">
				<EventEditor event={win.event} student={win.student} />
			</Window>
		{:else if win.type == "class-creator"}
			<Window windowTitle="Add Class">
				<ClassCreator />
			</Window>
		{:else if win.type == "class-editor"}
			<Window windowTitle="Edit Class">
				<ClassEditor />
			</Window>
		{:else if win.type == "teacher-preferences"}
			<Window windowTitle="Preferences">
				<TeacherPreferences />
			</Window>
		{/if}
	{/each}
</div>

<style>
	main.dim::after {
		background-color: black;
		opacity: 0.2;
		position: absolute;
		inset: 0 0 0 0;
		content: "";
	}

	main.dim {
		filter: blur(1px);
	}

	main {
		position: relative;
		background-color: var(--window-bg);
		color: var(--fg-color);
		height: 100%;
		display: grid;
		grid-template-columns: max(15%, 13rem) 1fr;
		grid-template-rows: 3rem 1fr;
	}

	nav {
		display: flex;
		gap: 0.5rem;
		margin-right: 0;
		justify-content: space-between;
		grid-column: 2;
	}

	.button-container {
		padding: 0.5rem;
		margin-left: auto;
		margin-right: 8%;
	}
</style>
