<script>
	const teacherInfo = fetch("/api/student/teacher-info").then((res) => res.json());
</script>

<div class="teacher-info">
	{#await teacherInfo}
	{:then teacherInfo}
		<ul class="teacher-info-list">
			<li>{teacherInfo.first_name} {teacherInfo.last_name}</li>
			<li><a href="mailto:{teacherInfo.email}">{teacherInfo.email}</a></li>
		</ul>
	{/await}
</div>

<style>
	.teacher-info {
		padding: 1rem;
	}

	.teacher-info-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}
</style>
