<script>
	import { dndzone } from 'svelte-dnd-action'
	import { v4 as uuidv4 } from 'uuid'
	import { createEventDispatcher } from "svelte";

	const dispatch = createEventDispatcher();

	export let chunks = []

	let newChunkText = ""

	const handleCheckboxUpdate = (e) => {
		let chunk = JSON.parse(e.target.parentElement.parentElement.getAttribute("data-chunk"))
		const checked = e.target.checked
		chunk.completed = checked

		const index = chunks.findIndex((item) => item.id == chunk.id)
		chunks[index] = chunk
		e.target.parentElement.parentElement.setAttribute("data-chunk", JSON.stringify(chunk))
		dispatch("change");
	}

	const handleAddChunk = (e) => {
		if (e.key && e.key != "Enter") {
			return
		}

		e.preventDefault();

		if (newChunkText.length < 1) {
			return
		}

		const newChunk = {
			/* id is temporary for now. Required for drag-and-drop. */
			"id": uuidv4(), 
			"title": newChunkText,
			"priority": (chunks.length + 1),
			"completed": false
		}
		chunks = [...chunks, newChunk]

		newChunkText = ""
		dispatch("change");
	}

	const handleEditChunk = (e) => {
		e.preventDefault()

		e.target.parentElement.classList.add("editing")

		const textField = e.target.parentElement.querySelector("p")
		textField.setAttribute("contenteditable", "true")
		textField.focus()
		dispatch("change");
	}

	const handleSaveEdits = (e) => {
		if (e.key && e.key != "Enter") {
			return
		}

		e.preventDefault()

		e.target.parentElement.classList.remove("editing")

		const textField = e.target.parentElement.querySelector("p")
		textField.setAttribute("contenteditable", "false")

		const newTitle = textField.innerText.replace("<br>", "")

		let chunk = JSON.parse(e.target.parentElement.getAttribute("data-chunk"))
		let index = chunks.findIndex((item) => item.id === chunk.id)

		chunk.title = newTitle

		chunks[index] = chunk
		e.target.parentElement.setAttribute("data-chunk", JSON.stringify(chunk))
		dispatch("change");
	}

	const handleDeleteChunk = (e) => {
		e.preventDefault()
		const deletedChunk = JSON.parse(e.target.parentElement.getAttribute("data-chunk"))

		chunks = chunks.filter((item) => item.priority != deletedChunk.priority)
		recomputePriorityByIndex()
		dispatch("change");
	}

	/* Perhaps refactor to eliminate side-effects?? */
	const recomputePriorityByIndex = () => {
		chunks.forEach((item) => {
			  item.priority = chunks.indexOf(item) + 1
		})
		chunks = chunks
	}

	const handleConsider = (e) => {
		chunks = e.detail.items
		recomputePriorityByIndex()
	}

	const handleFinalize = (e) => {
		chunks = e.detail.items
		recomputePriorityByIndex()
		dispatch("change");
	}
</script>

<div class="chunklist-editor">
	<ul class="chunklist" 
	 use:dndzone={{items: chunks}} 
	 on:consider={handleConsider} 
	 on:finalize={handleFinalize}
	>
		{#each chunks as chunk (chunk.id)}
			<li class="chunk" data-chunk={JSON.stringify(chunk)}>
				<label class="checkbox-container">
					<input type="checkbox" checked={chunk.completed} on:click={handleCheckboxUpdate} />
					<span class="custom-checkbox"></span>
				</label>
				<p contenteditable="false" on:keydown={handleSaveEdits} on:focusout={handleSaveEdits} on:click={handleEditChunk}>{chunk.title}</p>
				<button class="borderless-button delete-chunk" on:click={handleDeleteChunk}>&#128465;</button>
				<button class="button button-save save-edits" on:click={handleSaveEdits}>&#x2713;</button>
			</li>
		{/each}
	</ul>
	<div class="chunk-creator">
		<input class="view text-view" type="text" bind:value={newChunkText} on:keydown={handleAddChunk} />
		<button class="button button-suggested" on:click={handleAddChunk}>+ Add Chunk</button>
	</div>
</div>

<style>
	.chunklist-container {
		padding-left: 1.5rem;
	}
	
	.chunklist {
		padding-left: 0;
		margin-block: 0;
	}

	.chunk > * {
	}
	
	.chunk {
		display: flex;
		gap: 0.5rem;
		list-style-type: none;
		cursor: default;
		color: var(--secondary-fg-color);
	}

	.chunk p {
		cursor: pointer;
		padding: 1px;
		margin: 0;
	}

	.chunk p:focus {
		outline: none;
		color: var(--fg-color);
		border-bottom: 1px solid var(--secondary-fg-color);
	}

	.delete-chunk, .save-edits {
		visibility: hidden;
		cursor: pointer;
	}

	.chunk:hover .delete-chunk, li.chunk:global(.editing) .save-edits {
		visibility: visible;
	}

	li.chunk:global(.editing) .delete-chunk {
		visibility: hidden;
	}

	.chunk-creator {
		display: flex;
		gap: 0.5rem;
	}

	.save-edits {
		padding-block: 0.2rem;
	}




	.checkbox-container {
	  display: block;
	  position: relative;
	  padding-left: 1.1rem;
	  margin-bottom: 0.5rem;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.checkbox-container input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	.custom-checkbox {
	  position: absolute;
	  top: 1px;
	  left: 0;
	  height: 1rem;
	  width: 1rem;
	  background-color: var(--silver-100);
	  box-shadow: inset 0 2px 2px var(--shade);
	  border: 1px solid var(--border);
	  border-radius: var(--radius);
	}

	.checkbox-container:hover input ~ .custom-checkbox {
		background-color: color-mix(in srgb, var(--silver-300) 20%, var(--silver-100) 80%);
	}

	.checkbox-container input:checked ~ .custom-checkbox {
	  background-image: linear-gradient(var(--blueberry-100), var(--blueberry-300));
	  border: 1px solid var(--blueberry-300);
	  box-shadow: 0 1px 1px var(--shade);
	}

	.custom-checkbox:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	.checkbox-container input:checked ~ .custom-checkbox:after {
	  display: block;
	}

	.checkbox-container .custom-checkbox:after {
	  left: 3px;
	  top: 0px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 4px 4px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}










</style>
