<script>
	export let chunk
	export let task

	const handleUpdateChunk = async (e) => {
		// Update object
		let chunk = JSON.parse(e.target.parentElement.parentElement.getAttribute("data-chunk"))
		const checked = e.target.checked
		chunk.completed = checked

		// Insert object into array
		let chunks = task.details.chunks
		const index = chunks.findIndex((item) => item.id == chunk.id)
		chunks[index] = chunk
		e.target.parentElement.parentElement.setAttribute("data-chunk", JSON.stringify(chunk))

	 	// Construct new Task and save
		const editedTask = {
			...task.details,
			chunks
		}

		const taskPath = `/api/student/tasks/${task.task_id}`

		let res = await fetch(taskPath, {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(editedTask)
		})
	}
</script>

<li class="chunk" class:completed={chunk.completed} data-chunk={JSON.stringify(chunk)}>
	<label class="checkbox-container">{chunk.title}
		<input type="checkbox" checked={chunk.completed} on:click={handleUpdateChunk} />
		<span class="custom-checkbox"></span>
	</label>
</li>

<style>
	.chunk {
		list-style-type: none;
		font-size: 0.7rem;
		color: var(--secondary-card-fg);
	}

	.chunk > * {
		display: inline;
	}

	.checkbox-container {
	  display: block;
	  position: relative;
	  padding-left: 1.1rem;
	  margin-bottom: 0.5rem;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.checkbox-container input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	.custom-checkbox {
	  position: absolute;
	  top: 1px;
	  left: 0;
	  height: 0.7rem;
	  width: 0.7rem;
	  background-color: var(--silver-100);
	  box-shadow: inset 0 2px 2px var(--shade);
	  border: 1px solid var(--border);
	  border-radius: var(--radius);
	}

	.checkbox-container:hover input ~ .custom-checkbox {
		background-color: color-mix(in srgb, var(--silver-300) 20%, var(--silver-100) 80%);
	}

	.checkbox-container input:checked ~ .custom-checkbox {
	  background-image: linear-gradient(var(--blueberry-100), var(--blueberry-300));
	  border: 1px solid var(--blueberry-300);
	  box-shadow: 0 1px 1px var(--shade);
	}

	.custom-checkbox:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	.checkbox-container input:checked ~ .custom-checkbox:after {
	  display: block;
	}

	.checkbox-container .custom-checkbox:after {
	  left: 3px;
	  top: 0px;
	  width: 2px;
	  height: 7px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
</style>
