<script>
	import {OpenWindows} from "../stores/OpenWindows.js"
	import {SelectedClass} from "../stores/SelectedClass.js"

	let classNameField

	let handleSave = async (e) => {
		e.preventDefault()
		let res = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}`, {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: `{
				"class_name": "${classNameField.value}"
			}`
		})

		$SelectedClass.class_name = classNameField.value

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}

	let handleDelete = async (e) => {
		e.preventDefault()
		let res = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}`, {
			method: "DELETE",
		})

		$SelectedClass = {}

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}
</script>

<div class="class-editor">
	<form class="creation-form">
		<label for="class-name">Class name</label>
		<input class="view text-view" type="text" minlength="5" id="class-name" name="class-name" value={$SelectedClass.class_name} bind:this={classNameField}>
		<input class="button button-save" type="submit" id="button-save-class" value="Save" on:click={handleSave}>
		<button class="button button-destructive" on:click={handleDelete}>Delete Class</button>
	</form>
</div>

<style>
	form {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
	}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}

</style>
