<script>
	import {get} from "svelte/store"
	import {OpenWindows} from "../stores/OpenWindows.js"
	import {SelectedClass} from "../stores/SelectedClass.js"

	let classes = fetch("/api/teacher/classes").then((res) => res.json())

	let handleAddClass = () => {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, { type: "class-creator" }]
		})
		OpenWindows.update((currentWindows) => {
			return currentWindows
		})
	}

	let handleClassSelect = async (e) => {
		let selection = e.currentTarget.firstElementChild
		let classId = selection.value
		selection.click()

		let selectionObject = await classes.then((classes) => classes.find((e) => e.class_id == classId))

		SelectedClass.set(selectionObject)
	}

	let sidebar
</script>

<aside class="class-selector retracted" bind:this={sidebar}>
	<header>
		<h3>Classes</h3>
		<button class="button" on:click={handleAddClass}>Add Class</button>
	</header>
	<ul>
		{#await classes}
			<p>Loading Classes...</p>
		{:then classes}
			{#each classes as classItem (classItem.class_id)}
				<li on:click={handleClassSelect}> 
					<input type="radio" name="selected-class" value={classItem.class_id}>
					<label for={classItem.class_id}>{classItem.class_name}</label>
				</li>
			{/each}
		{/await}
	</ul>
</aside>

<style>
	aside.class-selector::before {
		position: absolute;
		inset: 0 0 0 0;
		box-shadow: inset -1rem 0rem 0.3rem -1rem var(--shade);
		content: "";
		pointer-events: none;
	}

	aside.class-selector {
		position: relative;
		background-color: var(--secondary-bg-color);
		user-select: none; 
		grid-column: 1;
		grid-row: 1 / span 2;
	}


	header {
		border-bottom: 1px solid var(--border);
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h3 {
		margin: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		background-color: inherit;
		font-size: 0.9rem;
	}

	li {
		list-style-type: none;
		padding: 0.8rem;
		background-color: inherit;
		border-bottom: 1px solid var(--border);
		box-shadow: var(--highlight);
	}

	li:hover {
		filter: brightness(95%);
	}

	li:active {
		filter: brightness(85%);
		box-shadow: inset 0px 1px 0px var(--shade-darker);
	}

	input[type="radio"] {
		opacity: 0;
		position: absolute;
	}

	li:has( > input:checked) {
		filter: brightness(93%);
	}

</style>
