<script>
	import Section from "./Section.svelte"
	import EventSection from "./EventSection.svelte"
	import StudentSection from "./StudentSection.svelte"
	import {SelectedClass} from "../stores/SelectedClass.js"
	import {OpenWindows} from "../stores/OpenWindows.js"

	let handleEditClass = () => {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, { type: "class-editor" }]
		})
	}
</script>

<div class="class-area">
	{#if !$SelectedClass.class_name}
		<p>No Class selected</p>
	{:else}
		<header>
			<h2>{$SelectedClass.class_name}</h2>
			<button class="button" on:click={handleEditClass}>Edit Class</button>
		</header>
		<EventSection />
		<StudentSection />
	{/if}
</div>

<style>
	header {
		padding-top: 3rem;
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;
	}

	h2 {
		margin: 0;
	}

	div.class-area {
		width: min(50%, 600px);
		margin-inline: auto;
		background-color: inherit;
		grid-row: 2;
		grid-column: 2;
	}
</style>
