<script>
	import Event from "./Event.svelte"
	
	export let student
	export let dayTitle
	export let date
	export let events = []


	events = events.filter((event) => {
		if (event.event_details.date == "NaN") {
			return
		}

		const taskEpoch = parseInt(event.event_details.date);
		const offset = (new Date()).getTimezoneOffset() * 60 * 1000;

		/*
			toISOString() always outputs UTC time.

			For this reason, the offset is subtracted from the taskEpoch
			so that the ISO string produced from it is in local time.
		*/
		let localISOString = new Date(taskEpoch - offset).toISOString();
		localISOString = localISOString.slice(0, localISOString.indexOf("T"));

		return localISOString == date;
	})

</script>

<div class="day">
	<h4>{dayTitle}</h4>
	<!--
	<button>→</button>
	-->
	<ul>
		{#each events as event (event.event_id)}
			<Event {event} {student} />
		{/each}
	</ul>
</div>

<style>
	div.day {
		border-top: 1px solid var(--border);
		padding: 0.5rem;
		/*
		display: grid;
		grid-template-columns: 1fr 10%;
		grid-template-rows: 2rem 1fr;
		gap: 0.3rem;
		 */
		flex-grow: 1;
		height: 100%;
		display: relative;
		color: var(--secondary-fg-color);
		min-height: 4rem;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 0rem;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	/*
	button {
		grid-row: 1 / span 2;
		grid-column: 2;
	}
	 */
</style>
