<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { OpenSidePanes } from "../stores/OpenSidePanes.js"
	import { SelectedClass } from "../stores/SelectedClass.js"
	import { onMount } from "svelte"

	export let event
	export let student

	let sessionType
	let eventPath

	onMount(async () => {
		sessionType = await fetch("/api/session-type").then((res) => res.json())

		if ((sessionType.session_type == "teacher") && !!student) {
			eventPath = `/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}/events/${event.event_id}`;
		} else if ((sessionType.session_type == "teacher") && !student) {
			eventPath = `/api/teacher/classes/${$SelectedClass.class_id}/events/${event.event_id}`;
		} else if (sessionType.session_type == "student") {
			eventPath = `/api/student/events/${event.event_id}`;
		}
	})


	// Get today's date to set minimum value in dateField
	let todayISOString = (new Date()).toISOString()
	todayISOString = todayISOString.slice(0, todayISOString.indexOf("T"))

	let titleField
	let dateField
	let descriptionField

	const localTimeOffset = (new Date()).getTimezoneOffset() * 60 * 1000
	const offsetDate = new Date(event.event_details.date - localTimeOffset)
	let localISOString = offsetDate.toISOString()
	localISOString = localISOString.slice(0, localISOString.indexOf("T"))

	const handleSave = async (e) => {
		e.preventDefault()

		/*
			dateField.value is in local time, but Date interprets values as UTC.  

			Because of this, dateField.value (local time incorrectly
			interpreted as UTC) is converted to an epoch, then offset.
		*/
		const UTCEpoch = Date.parse(dateField.value) + localTimeOffset

		let res = await fetch(await eventPath, {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: `{
				"title": "${titleField.value}",
				"date": "${UTCEpoch}",
				"description": "${descriptionField.value}"
			}`
		})

		if (await sessionType.session_type == "teacher") {
			OpenWindows.update((currentWindows) => { return currentWindows.slice(0, -1) })
		} else {
			OpenSidePanes.update((currentSidePanes) => { return currentSidePanes.slice(1) })
		}
	}

	const handleDelete = async (e) => {
		e.preventDefault()
		let res = await fetch(await eventPath, {
			method: "DELETE"
		})

		if (await sessionType.session_type == "teacher") {
			OpenWindows.update((currentWindows) => { return currentWindows.slice(0, -2) })
		} else {
			OpenSidePanes.update((currentSidePanes) => { return currentSidePanes.slice(1) })
		}
	}
</script>

<div class="add-event">
	<form>
		<label for="title">Title</label>
		<input class="view text-view" type="text" id="title" value={event.event_details.title} maxlength="50" required="true" bind:this={titleField}>
		<label for="date">Date</label>
		<input class="view text-view" id="date" type="date" value={localISOString} pattern="\d{4}-\d{2}-\d{2}" required="true" bind:this={dateField}>
		<label for="description">Description</label>
		<textarea class="view text-view" id="description" value={event.event_details.description} maxlength="300" bind:this={descriptionField}></textarea>
		<input class="button button-save" type="submit" value="Save" on:click={handleSave}>
		<button class="button button-destructive" on:click={handleDelete}>Delete Event</button>
	</form>
</div>

<style>
	form {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
	}

	label[for="description"] {
		display: block;
		text-align: right;
		margin-top: 0.4rem;
	}
	
	textarea {
		resize: none;
		height: 5rem;
	}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}
</style>
