<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { OpenSidePanes } from "../stores/OpenSidePanes.js"
	import { SelectedClass } from "../stores/SelectedClass.js"
	import { onMount } from "svelte"

	export let student

	let sessionType
	let eventsPath

	onMount(async () => {
		sessionType = await fetch("/api/session-type").then((res) => res.json())

		if ((sessionType.session_type == "teacher") && !!student) {
			eventsPath = `/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}/events`;
		} else if ((sessionType.session_type == "teacher") && !student) {
			eventsPath = `/api/teacher/classes/${$SelectedClass.class_id}/events`;
		} else if (sessionType.session_type == "student") {
			eventsPath = "/api/student/events";
		}
	})

	const validateDate = (date) => {
		let todayISOString = (new Date()).toISOString()
		todayISOString = todayISOString.slice(0, todayISOString.indexOf("T"))

		const todaySegments = todayISOString.split("-");
		const attemptSegments = date.split("-");

		const YEAR_IS_INVALID = attemptSegments[0] < todaySegments[0];
		const MONTH_IS_INVALID = !YEAR_IS_INVALID & (attemptSegments[1] < todaySegments[1]);
		const DAY_IS_INVALID = !MONTH_IS_INVALID & (attemptSegments[2] < todaySegments[2]);
		const DATE_IS_VALID = !(YEAR_IS_INVALID || MONTH_IS_INVALID || DAY_IS_INVALID)

		return DATE_IS_VALID
	}

	let titleField
	let dateField
	let descriptionField

	const handleSave = async (e) => {
		e.preventDefault()
		/*
		if (!validateDate(dateField.value)) {
			alert("Date is invalid")
			return
		}
		 */

		/*
			dateField.value is in local time, but Date interprets values as UTC.  

			Because of this, dateField.value (local time incorrectly
			interpreted as UTC) is converted to an epoch, then offset.
		*/
		const localTimeOffset = (new Date()).getTimezoneOffset() * 60 * 1000
		const UTCEpoch = Date.parse(dateField.value) + localTimeOffset

		let res = await fetch(await eventsPath, {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: `{
				"title": "${titleField.value}",
				"date": "${UTCEpoch}",
				"description": "${descriptionField.value}"
			}`
		})

		if (await sessionType.session_type == "teacher") {
			OpenWindows.update((currentWindows) => { return currentWindows.slice(0, -1) })
		} else {
			OpenSidePanes.update((currentSidePanes) => { return currentSidePanes.slice(1) })
		}
	}
</script>

<div class="add-event">
	<form>
		<label for="title">Title</label>
		<input class="view text-view" type="text" id="title" maxlength="50" required="true" bind:this={titleField}>
		<label for="date">Date</label>
		<input class="view text-view" id="date" type="date" pattern="\d{4}-\d{2}-\d{2}" required="true" bind:this={dateField}>
		<label for="description">Description</label>
		<textarea class="view text-view" id="description" maxlength="300" bind:this={descriptionField}></textarea>
		<input class="button button-save" type="submit" value="Save" on:click={handleSave}>
	</form>
</div>

<style>
	form {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
	}

	label[for="description"] {
		display: block;
		text-align: right;
		margin-top: 0.4rem;
	}

	textarea {
		resize: none;
		height: 5rem;
	}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}
</style>
