<script>
	import Day from "./Day.svelte"
	import {SelectedClass} from "../stores/SelectedClass.js"

	export let student

	const getEvents = async () => {
		const sessionType = await fetch("/api/session-type").then((res) => res.json())

		if ((sessionType.session_type == "teacher") && student) {
			return fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}/events`)
				.then((res) => res.json()) 
		} else if ((sessionType.session_type == "teacher") && !student) {
			return fetch(`/api/teacher/classes/${$SelectedClass.class_id}/events`)
				.then((res) => res.json())
		} else if (sessionType.session_type == "student") {
			return fetch("/api/student/events")
				.then((res) => res.json())
		}
	}

	$: events = getEvents()

	/* Returns array of Date objects for each day in a given date's week */
	let getWeek = (date) => {
		return Array(7).fill(new Date(date)).map((e, i) =>
			new Date(e.setDate(e.getDate() - e.getDay() + i)))
	}

	let thisWorkWeek = getWeek(new Date).slice(1, -1).map((date) => {
		const localTimezoneOffset = (new Date()).getTimezoneOffset() * 60 * 1000
		const offsetDate = new Date(Date.parse(date) - localTimezoneOffset)
		const dateString = offsetDate.toISOString()
		return dateString.slice(0, dateString.indexOf("T"))
	})

</script>

<div class="event-calendar">
	{#await events}
		<Day dayTitle="Mon" date={thisWorkWeek[0]} />
		<Day dayTitle="Tues" date={thisWorkWeek[1]} />
		<Day dayTitle="Wed" date={thisWorkWeek[2]} />
		<Day dayTitle="Thurs" date={thisWorkWeek[3]} />
		<Day dayTitle="Fri" date={thisWorkWeek[4]} />
	{:then events}
		<Day dayTitle="Mon" date={thisWorkWeek[0]} {events} {student} />
		<Day dayTitle="Tues" date={thisWorkWeek[1]} {events} {student} />
		<Day dayTitle="Wed" date={thisWorkWeek[2]} {events} {student} />
		<Day dayTitle="Thurs" date={thisWorkWeek[3]} {events} {student} />
		<Day dayTitle="Fri" date={thisWorkWeek[4]} {events} {student} />
	{/await}
</div>

<style>
	div.event-calendar {
		overflow-x: none;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
	}	
</style>
