<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { OpenSidePanes } from "../stores/OpenSidePanes.js"


	export let event
	export let student

	let handleOpenEventDetails = async (event) => {
		const sessionType = await fetch("/api/session-type").then((res) => res.json())

		if (sessionType.session_type == "student") {
			OpenSidePanes.update((sidePanes) => {
				return [
					{ 
						title: event.event_details.title,
						type: "event-details",
						details: {
							event: event
						},
						buttons: []
					},
					...sidePanes
				]
			})
		} else {
			OpenWindows.update((currentWindows) => {
				return [...currentWindows, { 
					type: "event-details", 
					event: event,
					student: student
				}]
			})
		}
	}
</script>

<li class={event.event_type} on:click={() => handleOpenEventDetails(event)}>{event.event_details.title}</li>

<style>
	li {
		list-style-type: none;
		background-color: var(--accent-bg);
		border: 1px solid var(--accent);
		box-shadow: 0 1px 2px var(--shade), var(--highlight);
		border-radius: var(--card-radius);
		padding: 0.3rem;
		color: white;
		display: flex;
		margin-block: 0.3rem;
	}

	li::after {
		margin-left: auto;
		font-weight: 500;
		content: "→";
	}

	li:hover {
		filter: brightness(95%);
	}

	li:active {
		filter: brightness(90%);
		box-shadow: 0 0px 0px var(--shade);
	}

	li.class {
		background-color: var(--mint-300);
		border: 1px solid var(--mint-500);
	}

	li.assigned {
		background-color: var(--orange-300);
		border: 1px solid var(--orange-500);
	}

	li.student {
		background-color: var(--grape-300);
		border: 1px solid var(--grape-500);
	}
</style>
