<script>
	import {OpenWindows} from "../stores/OpenWindows.js"
	import Section from "./Section.svelte"
	import EventCalendar from "./EventCalendar.svelte"

	export let student

	let handleAddEvent = () => {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, { type: "event-creator", student: student }]
		})
	}

	const buttons = [
		{
			text: "Add Event",
			action: handleAddEvent
		}
	]
</script>

<Section sectionTitle="Events" {buttons}>
	<EventCalendar student={student} />
</Section>

<style>
</style>
