<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { OpenSidePanes } from "../stores/OpenSidePanes.js"
	import { onMount } from "svelte"

	export let event
	export let student

	let CAN_BE_EDITED

	const handleOpenEventEditor = async (event) => {
		const sessionType = await fetch("/api/session-type").then((res) => res.json())

		if (sessionType.session_type == "student") {
			OpenSidePanes.update((sidePanes) => {
				return [
					{ 
						title: "Edit Event",
						type: "event-editor",
						details: {
							event: event
						},
						buttons: []
					},
					...sidePanes
				]
			})
		} else {
			OpenWindows.update((currentWindows) => {
				return [...currentWindows, { 
					type: "event-editor", 
					event: event,
					student: student
				}]
			})
		}
	}
	

	onMount(async () => {
		const sessionType = await fetch("/api/session-type").then((res) => res.json())

		const IS_TEACHER_SESSION = sessionType.session_type == "teacher"
		const IS_STUDENT_EVENT = event.event_type == "student"

		CAN_BE_EDITED = (!IS_TEACHER_SESSION && IS_STUDENT_EVENT) || (IS_TEACHER_SESSION && !IS_STUDENT_EVENT)
	})

</script>

<div class="event-details">
	<p>{event.event_details.description}</p>
	{#if CAN_BE_EDITED}
		<button class="button" on:click={() => handleOpenEventEditor(event)}>Edit Event</button>
	{/if}
</div>

<style>
</style>
