
<script>
	let teacherSignup
	let teacherLogin
	let studentLogin

	const validateEmail = (addr) => {
		const emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
		return (emailPattern.test(addr))
	}

	let submitTeacherSignup = async (e) => {
		e.preventDefault()
		let signupData = new FormData(teacherSignup)
		let signupObject = {
			first_name: signupData.get("first-name"),
			last_name: signupData.get("last-name"),
			email: signupData.get("email"),
			password: signupData.get("password")
		}

		if (!validateEmail(signupObject.email)) {
			alert("Invalid email address")
			return
		}

		let res = await fetch("/api/teacher/signup", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(signupObject)
		})

		if (res.status == 400) {
			alert("Invalid values")
		}

		location.reload()
	}

	let submitTeacherLogin = async (e) => {
		e.preventDefault()
		let loginData = new FormData(teacherLogin)
		let loginObject = {
			email: loginData.get("email"),
			password: loginData.get("password")
		}

		if (!validateEmail(loginObject.email)) {
			alert("Invalid email address")
			return
		}

		let res = await fetch("/api/teacher/login", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(loginObject)
		})

		if (res.status == 400) {
			alert("Invalid values")
		}

		if (res.status == 401) {
			alert("Incorrect username or password")
		}

		location.reload()
	}

	let submitStudentLogin = async (e) => {
		e.preventDefault()
		let loginData = new FormData(studentLogin)
		let loginObject = {
			username: loginData.get("username"),
			password: loginData.get("password")
		}

		for (const field in loginObject) {
			const FIELD_IS_EMPTY = loginObject[field].length === 0;
			if (FIELD_IS_EMPTY) {
				alert("Invalid values")
				return
			}
		}

		let res = await fetch("/api/student/login", {
			method: "POST",
			mode: "same-origin",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(loginObject)
		})

		if (res.status == 401) {
			alert("Incorrect username or password")
		}

		location.reload()
	}


</script>

<div class="screen-height">
	<h1>Hewwo!</h1>
	<h2>Teacher Signup</h2>
	<form id="teacher-signup" bind:this={teacherSignup}>
		<label for="first-name">First name</label>
		<input name="first-name" type="text">
		<br>
		<label for="last-name">Last name</label>
		<input name="last-name" type="text">
		<br>
		<label for="email">Email</label>
		<input name="email" type="email">
		<br>
		<label for="password">Password</label>
		<input name="password" type="password">
		<br>
		<input type="submit" id="teacher-signup-button" value="Sign up" on:click={submitTeacherSignup}>
	</form>
	<h2>Teacher Login</h2>
	<form id="teacher-login" bind:this={teacherLogin}>
		<label for="email">Email</label>
		<input name="email" type="email">
		<br>
		<label for="password">Password</label>
		<input name="password" type="password">
		<br>
		<input type="submit" id="teacher-login-button" value="Login" on:click={submitTeacherLogin}>
	</form>
	<h2>Student Login</h2>
	<form id="student-login" bind:this={studentLogin}>
		<label for="username">Username</label>
		<input name="username" type="email">
		<br>
		<label for="password">Password</label>
		<input name="password" type="password">
		<br>
		<input type="submit" id="student-login-button" value="Login" on:click={submitStudentLogin}>
	</form>
</div>

<style>
</style>
