<script>
	import { dndzone } from 'svelte-dnd-action'
	import TaskBox from "./TaskBox.svelte"

	import { OpenWindows } from "../stores/OpenWindows.js"

	export let columnTitle;
	export let tasks = [];

	const dropTargetStyle = {
	}

	/* Filter Tasks that belong in current column, and sort by priority  */
	tasks = tasks.filter((task) => (task.status === columnTitle) && (task.details.title !== undefined))
	tasks.sort((taskA, taskB) => {
		return taskA.details.priority - taskB.details.priority
	})

	/* Assign Task's priority property by its index in the Tasks array */
	const recomputePriorityByIndex = () => {
		tasks.forEach((item) => {
			item.details.priority = tasks.indexOf(item) + 1
		})

		tasks = tasks
	}

	const saveStatus = (task) => {
		const res = fetch(`/api/student/tasks/${task.task_id}`, {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				status: columnTitle
			})
		})
	}

	const savePriority = async () => {
		const res = fetch("/api/student/tasks", {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(tasks)
		})
	}

	const handleConsider = (e) => {
		tasks = e.detail.items
		recomputePriorityByIndex()
	}

	const handleFinalize = (e) => {
		tasks = e.detail.items
		recomputePriorityByIndex()

		const id = e.detail.info.id
		const task = e.detail.items.find((item) => item.id == id)

		saveStatus(task)
		savePriority()
	}

</script>

<div class="planner-column">
	<header class="column-header">
		<h2>{columnTitle}</h2>
	</header>
	{#if $OpenWindows.length > 0}
		<div class="column-tasks-container" >
			{#each tasks as task (task.id)}
				<TaskBox {task} />
			{/each}
		</div>
	{:else}
		<div class="column-tasks-container"
			use:dndzone={{items: tasks, dropTargetStyle: dropTargetStyle }}
			on:consider={handleConsider}
			on:finalize={handleFinalize}
		>
			{#each tasks as task (task.id)}
				<TaskBox {task} />
			{/each}
		</div>
	{/if}
</div>


<style>
	h2 {
		margin: 0;
		font-size: 1rem;
	}

	.planner-column {
		padding: 1rem;
	}

	.planner-column:not(:last-child) {
		border-right: 1px solid var(--border);
	}

	.column-header {
		margin-bottom: 1.1rem;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	.column-tasks-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0.2rem;
	}
</style>
