<script>
	import PlannerColumn from "./PlannerColumn.svelte"
	import { v4 as uuidv4 } from 'uuid'

	$: tasks = fetch(`/api/student/tasks`)
		.then((res) => res.json())
		.then(
			(res) => res.map(
				(item) => { 
					return { ...item, id: uuidv4() }
				}
			)
		)

</script>

<div id="planner-columns-container">
	{#await tasks}
		<PlannerColumn columnTitle="Backlog" />
		<PlannerColumn columnTitle="To Do" />
		<PlannerColumn columnTitle="Doing" />
		<PlannerColumn columnTitle="Done" />
	{:then tasks}
		<PlannerColumn columnTitle="Backlog" {tasks} />
		<PlannerColumn columnTitle="To Do" {tasks} />
		<PlannerColumn columnTitle="Doing" {tasks} />
		<PlannerColumn columnTitle="Done" {tasks} />
	{/await}
</div>

<style>
	#planner-columns-container {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: 100%;
		margin-inline: auto;
		margin-block: 1rem;
		height: 70vh;
		max-width: 950px;
	}
</style>
