<script>
	import { SelectedClass } from "../stores/SelectedClass.js";
	export let reflection;
	export let student;

	async function handleSaveComment(e) {
		e.preventDefault();

		const reflectionPath = `/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}/reflections/${reflection.task_id}`;
		
		const res = fetch(reflectionPath, {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ comment: reflection.teacher_comment })
		});
	}
</script>

<li class="reflection-box">
	<div class="task-box">
		<ul class="task-tag-list">
			{#each reflection.details.tags as tag}
				<li 
					class="tag"
					style="background-image: linear-gradient(var(--{tag.color}-100), var(--{tag.color}-300); color: var(--{tag.color}-900); border-color: var(--{tag.color}-300)"
				>
					{tag.title}
				</li>
			{/each}
		</ul>
		<div class="task-title">
			<h3>{reflection.details.title}</h3>
		</div>
		<div class="task-reflection">
			<p>{reflection.details.reflection}</p>
		</div>
	</div>
	<div class="comment-box">
		<form on:submit={handleSaveComment}>
			<label for="comment">Comment</label>
			<textarea class="view text-view comment" name="comment" bind:value="{reflection.teacher_comment}" placeholder="Leave a comment..." on:keypress={() => commentIsSaved = false}></textarea>
			<input class="button button-save" type="submit" value="Save">
		</form>
	</div>
</li>

<style>
	.reflection-box {
		box-shadow: var(--card-shadow);
		background-color: var(--card-bg);
		color: var(--card-fg);
		border-radius: var(--card-radius);
		flex-grow: 1;
		min-width: 14rem;
		max-width: 14rem;
	}

	.task-box {
		padding: 1rem;
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		border-radius: var(--card-radius) var(--card-radius) 0 0;
	}

	.task-box .task-tag-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		font-size: 0.8rem;
		gap: 0.2rem;
	}

	.tag {
		list-style-type: none;
		padding: 0.2rem;
		background-image: linear-gradient(var(--lime-100), var(--lime-300));
		border: 1px solid var(--lime-300);
		color: #141;
		font-size: 0.7rem;
		border-radius: var(--card-radius);
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0 1px 0px rgba(255, 255, 255, 0.8);
	}

	.task-box h3 {
		margin: 0;
		font-weight: normal;
	}

	.task-box p {
		margin: 0;
	}

	.task-reflection {
		font-size: 0.9rem;
	}

	.comment-box {
		background-color: var(--secondary-bg-color);
		padding: 0.8rem;
		border-top: 1px solid var(--border);
		box-shadow: var(--highlight);
	}

	.comment-box form {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.comment-box label {
	}

	.comment-box textarea {
		resize: none;
		height: 3rem;
		border-radius: var(--button-radius) var(--button-radius) 0 0;
		border-bottom: none;
	}

	.comment-box .button {
		margin-top: -1px;
		border-radius: 0 0 var(--button-radius) var(--button-radius);
	}

</style>
