<script>
	export let sectionTitle
	export let buttons = []
</script>

<section class="section">
	<header>
		<h3>{sectionTitle}</h3>
		{#each buttons as button}
			<button class="button" on:click={button.action}>{button.text}</button>
		{/each}
	</header>
	<div class="section-content">
		<slot />
	</div>
</section>

<style>
	section {
		margin-bottom: 2rem;
		margin-inline: 1rem;
	}

	header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--border-darker);
		margin-bottom: 1rem;
		gap: 0.2rem;
	}

	h3 {
		margin-right: auto;
	}

	button {
		margin-block: 0.8rem;
	}

	div.section-content {
		margin-inline: 1rem;
	}
</style>
