<script>
	import { OpenSidePanes, SidePaneIsRetracted } from "../stores/OpenSidePanes.js"
	import { onMount } from "svelte"

	export let sidePane
	export let sidePaneIndex
	export let sidePaneCount

	$: IS_ROOT = sidePaneIndex === sidePaneCount - 1

	const handleGoBack = () => {
		OpenSidePanes.update((sidePanes) => {
			return sidePanes.slice(1)
		})
	}

	const handleOpenSidePane = () => {
		OpenSidePanes.update((sidePanes) => {
			return [
				{ title: "Untitled" },
				...sidePanes
			]
		})
	}


</script>

<aside class="side-pane" class:retracted={$SidePaneIsRetracted}>
	{#if IS_ROOT && sidePaneCount === 1}
		<button 
			class="side-pane-toggle" 
			on:click={() => SidePaneIsRetracted.set(!($SidePaneIsRetracted))}
		>
			⦀
		</button>
	{/if}
	<header>
		{#if !IS_ROOT}
			<button class="button" on:click={handleGoBack}>← Back</button>
		{/if}
		<h2>{sidePane.title}</h2>
		{#each sidePane.buttons as button}
			<button class="button button-suggested" on:click={button.action}>{button.text}</button>
		{/each}
	</header>
	<slot />
</aside>

<style>
	header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	header button {
		padding: 0.5rem;
		margin-block: auto;
	}

	.side-pane {
		background-color: var(--window-bg);;
		box-shadow: var(--window-shadow), var(--window-highlight);
		border: 1px solid var(--window-border);
		border-radius: var(--window-radius);
		inset: 4rem 0 4rem auto;
		position: fixed;
		width: 25rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;

		translate: calc(-2em * var(--level));
		transform: scale(calc(100% - 3% * var(--level)));
		filter: brightness(calc(100% - 5% * var(--level)));
		z-index: calc(var(--level) * -1);
	}

	aside.side-pane.retracted {
		right: -25rem;
	}

	.side-pane-toggle {
		position: absolute;
		top: 50%;
		right: 100%;
		width: fit-content;
		padding: 0.5rem;
		font-size: 150%;
		background-color: inherit;
		border: 1px solid var(--window-border);
		border-radius: var(--window-radius) 0 0 var(--window-radius);
		border-right: none;
		box-shadow: -4px 5px 7px -2px var(--shade), -4px -5px 7px -2px var(--shade), var(--button-highlight);
		z-index: -3;
	}

	.side-pane-toggle:hover {
		background-image: radial-gradient(rgba(0, 0, 0, 0.2), transparent 60%);
		background-position: -90px;
		background-size: 500% 300%;
		background-repeat: no-repeat;
	}

	.side-pane-toggle:active {
		filter: brightness(80%);
	}
</style>
