<script>
	import { OpenSidePanes } from "../stores/OpenSidePanes.js"

	import SidePane from "./SidePane.svelte"
	import EventCalendar from "./EventCalendar.svelte"
	import EventDetails from "./EventDetails.svelte"
	import EventCreator from "./EventCreator.svelte"
	import EventEditor from "./EventEditor.svelte"

	OpenSidePanes.set([
		{ 
			title: "My Week",
			type: "event-calendar",
			details: {},
			buttons: [
				{
					text: "+ Add Event",
					action: () => {
						OpenSidePanes.update((currentSidePanes) => {
							return [
								{
									title: "Add Event",
									type: "event-creator",
									details: {},
									buttons: []
								},
								...currentSidePanes
							]
						})
					}
				}
			]
		},
	])
</script>

<div class="side-pane-container">
	{#each $OpenSidePanes as sidePane, index}
		{#if sidePane.type == "event-calendar"}
			<SidePane 
				sidePane={sidePane} 
				sidePaneIndex={index}
				sidePaneCount={$OpenSidePanes.length}
				--level="{index}" 
			>
				<EventCalendar />
			</SidePane>
		{:else if sidePane.type == "event-details"}
			<SidePane 
				sidePane={sidePane} 
				sidePaneIndex={index}
				sidePaneCount={$OpenSidePanes.length}
				--level="{index}" 
			>
				<EventDetails event={sidePane.details.event} />
			</SidePane>
		{:else if sidePane.type == "event-creator"}
			<SidePane 
				sidePane={sidePane} 
				sidePaneIndex={index}
				sidePaneCount={$OpenSidePanes.length}
				--level="{index}" 
			>
				<EventCreator />
			</SidePane>
		{:else if sidePane.type == "event-editor"}
			<SidePane 
				sidePane={sidePane} 
				sidePaneIndex={index}
				sidePaneCount={$OpenSidePanes.length}
				--level="{index}" 
			>
				<EventEditor event={sidePane.details.event} />
			</SidePane>
		{/if}
	{/each}
</div>

<style>
	.side-pane-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
	}
</style>
