<script>
	import {OpenWindows} from "../stores/OpenWindows.js"
	import {SelectedClass} from "../stores/SelectedClass.js"

	let firstNameField
	let lastNameField

	let handleSave = async (e) => {
		e.preventDefault()
		let res = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: `{
				"first_name": "${firstNameField.value}",
				"last_name": "${lastNameField.value}"
			}`
		})

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}

</script>

<div class="student-creator">
	<form class="creation-form" on:submit={handleSave}>
		<label for="first-name">First name</label>
		<input class="view text-view" type="text" id="first-name" name="first-name" bind:this={firstNameField}>
		<label for="last-name">Last name</label>
		<input class="view text-view" type="text" id="last-name" name="last-name" bind:this={lastNameField}>
		<input class="button button-save" type="submit" id="button-save-student" value="Save">
	</form>
</div>

<style>
	form {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
	}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}

</style>
