<script>
	import {OpenWindows} from "../stores/OpenWindows.js"
	import {SelectedClass} from "../stores/SelectedClass.js"
	import Section from "./Section.svelte"
	import StudentList from "./StudentList.svelte"

	export let handleAddStudent = () => { 
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, { type: "student-creator" }]
		})
	}

	const handlePrintCredentials = async () => {
		const students = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students`).then((res) => res.json());
		const listMarkup = students.map((student) => `
			<li class="student">
				${student.profile.first_name} ${student.profile.last_name}
				<ul class="credentials">
					<li>Username: ${student.username}</li>
					<li>Password: ${student.password}</li>
				</ul>
			</li>
			`).join(" ");
		const credentialSheet = window.open("", "");
		credentialSheet.document.write(`
			<style>
				ul.student-list {
					list-style: none;
					line-height: 1.5;
					display: grid;
					grid-template-columns: 1fr 1fr;
				}

				li.student {
					padding: 2rem;
					border: 2px dashed #aaa;
				}

				ul.credentials {
					padding-left: 1rem;
				}

			</style>
			<html>
				<body>
					<h1>Student Credentials</h1>
					<ul class="student-list">
						${listMarkup}
					</ul>
				</body>
			</html>
			`);
		credentialSheet.document.close();
		credentialSheet.print()

	}

	const buttons = [
		{
			text: "Add Student",
			action: handleAddStudent
		},
		{
			text: "Print Credentials",
			action: handlePrintCredentials
		}
	]
</script>

<Section sectionTitle="Students" {buttons}>
	<StudentList />
</Section>

<style>
</style>
