<script>
	import {OpenWindows} from "../stores/OpenWindows.js";
	import {SelectedClass} from "../stores/SelectedClass.js";

	export let student;

	let firstNameField;
	let lastNameField;
	let passwordField;

	async function handleSave(e) {
		e.preventDefault();
		let res = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}`, {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: `{
				"first_name": "${firstNameField.value}",
				"last_name": "${lastNameField.value}",
				"password": "${passwordField.value}"
			}`
		});

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		});
	}

	async function handleDeleteStudent(e) {
		e.preventDefault();

		let res = await fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}`, { method: "DELETE" })

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -2)
		});
	}

</script>

<div class="student-editor">
	<form>
		<label for="first-name">First name</label>
		<input class="view text-view" type="text" id="first-name" name="first-name" value={student.profile.first_name} bind:this={firstNameField}>
		<label for="last-name">Last name</label>
		<input class="view text-view" type="text" id="last-name" name="last-name" value={student.profile.last_name} bind:this={lastNameField}>
		<label for="password">Password</label>
		<input class="view text-view" type="text" id="password" name="password" value={student.password} bind:this={passwordField}>
		<input class="button button-save" type="submit" id="save-student" value="Save" on:click={handleSave}>
	</form>
	<form on:submit={handleDeleteStudent}>
		<input class="button button-destructive" type="submit" id="delete-student" value="Delete Student" />
	</form>
</div>

<style>
	form {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
	}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}

</style>
