<script>
	import TagPreferencesSection from "../components/TagPreferencesSection.svelte"

	$: preferences = fetch(`/api/student/preferences`).then((res) => res.json())
</script>


{#await preferences}
	<p>Loading...</p>
	<!--
	<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffg-a.com%2Fchristmas%2Fsanta-dancing-1.gif&f=1&nofb=1&ipt=c1bef872b8d79c5c489928fbc4c7ee02d4bfd0d8bc16c6598ca20b2bd487fc3a&ipo=images">
		-->
{:then preferences}
	<TagPreferencesSection {preferences} />
{/await}

<style>
</style>
