<script>
	import {OpenWindows} from "../stores/OpenWindows.js"
	import {SelectedClass} from "../stores/SelectedClass.js"

	$: students = fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students`).then((res) => res.json())

	let handleOpenStudentDetails = (student) => {
		OpenWindows.update((currentWindows) => {
			return [...currentWindows, { type: "student-details", student }]
		})
	}
</script>

<div>
	{#await students}
		<p>Loading Students...</p>
	{:then students}
		{#if students.length <= 0}
			<p>No Students in Class</p>
		{:else}
			<ul class="student-list">
				{#each students as student}
					<li studentId={student.student_id} on:click={() => handleOpenStudentDetails(student)}>{student.profile.first_name} {student.profile.last_name}</li>
				{/each}
			</ul>
		{/if}
	{/await}
</div>

<style>
	div {
		text-align: center;
		font-size: 0.8rem;
		color: var(--secondary-fg-color);
	}

	p {
		padding-top: 0.5rem;
	}

	ul.student-list {
		padding: 0;
		box-shadow: 0 1px 2px var(--shade);
		border-radius: var(--radius);
		border: 1px solid var(--border);
		text-align: left;
		font-size: 0.9rem;
	}

	li:first-child {
		border-radius: var(--radius) var(--radius) 0 0;
	}

	li:last-child {
		border-radius: 0 0 var(--radius) var(--radius);
	}

	li {
		list-style-type: none;
		padding: 0.5rem;
		background-color: var(--secondary-bg-color);
		border-bottom: 1px solid var(--border);
		box-shadow: var(--highlight);
	}

	li:hover {
		filter: brightness(95%);
	}

	li:active {
		filter: brightness(90%);
	}
</style>
