<script>
	import {OpenWindows} from "../stores/OpenWindows.js";
		import {SelectedClass} from "../stores/SelectedClass.js";
	import EventSection from "./EventSection.svelte";
	import ReflectionBox from "./ReflectionBox.svelte";

	export let student

	const handleOpenStudentEditor = (student) => {
		OpenWindows.update((currentWindows) => {
			return [ ...currentWindows, { type: "student-editor", student } ]
		})
	}

		const reflections = fetch(`/api/teacher/classes/${$SelectedClass.class_id}/students/${student.student_id}/reflections`).then((res) => res.json());
</script>

<div class="student-details">
	<h3>{student.profile.first_name} {student.profile.last_name}</h3>
	<button class="button" on:click={() => handleOpenStudentEditor(student)}>Edit Student</button>
	<EventSection student={student} />
	<section class="student-credentials">
		<h4>Credentials</h4>
		<dl>
			<dt>Username</dt>
			<dd>{student.username}</dd>
			<dt>Password</dt>
			<dd>{student.password}</dd>
		</dl>
	</section>
	<section class="student-reflections">
		<h4>Reflections</h4>
		<div class="reflection-list-container">
			<ul>
				{#await reflections}
				{:then reflections}
					{#each reflections as reflection}
						<ReflectionBox {reflection} {student} />
					{/each}
				{/await}
			</ul>
		</div>
	</section>
</div>

<style>
	section > :not(:first-child) {
		margin-left: 0.5rem;
	}

	.student-reflections ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		gap: 1rem;
		padding-inline: 1rem;
		list-style-type: none;
		padding-block: 0.3rem;
		align-items: baseline;
		padding-bottom: 1rem;
	}

	.reflection-list-container {
		position: relative;
	}

	.reflection-list-container::before {
		position: absolute;
		inset: 0 0 0 0;
		box-shadow: inset -1.4rem 0 0.3rem -1rem var(--window-bg), inset 1.4rem 0 0.3rem -1rem var(--window-bg);
		pointer-events: none;
		content: "";
	}
</style>
