<script>
	import Section from "./Section.svelte"
	import TagPreferences from "./TagPreferences.svelte"
	import { v4 as uuidv4 } from "uuid"
	

	export let preferences = {}

	const generateTagColor = () => {
		let color = Math.round((Math.random() * 255**3));
		if (color < parseInt("dddddd", 16)) {
			color = generateTagColor();
		}
		return color
	}

	const handleNewTag = () => {
		preferences.tags = [
				...preferences.tags,
				{
					title: "Untitled Tag",
					color: "#" + generateTagColor().toString(16),
					id: uuidv4()
				}
			]

		// setTimeout gives time to update DOM
		setTimeout(() => document.querySelector(".tag-preferences-item:last-child > input[type='text']").select(), 1);
	}

	const savePreferences = (preferences) => {
		const res = fetch("/api/student/preferences", {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(preferences)
		})
	}

	const buttons = [
		{
			text: "New Tag",
			action: handleNewTag
		}
	]

	$: savePreferences(preferences)
</script>

<Section sectionTitle="Tags" {buttons}>
	<TagPreferences bind:preferences={preferences} />
</Section>

<style>
</style>
