<script>
	export let tag = {}
	export let preferences = {}
	export let index

	const handleEditTag = (e) => {
		preferences.tags[index] = tag;
		document.activeElement.blur();
	}

	const handleDeleteTag = () => {
		preferences.tags = preferences.tags.filter((item) => {
			return item.id !== tag.id
		})
	}

</script>

<li class="tag-preferences-item">
	<select class="dropdown" style="background-image: linear-gradient(var(--{tag.color}-100), var(--{tag.color}-300); color: var(--{tag.color}-900); border-color: var(--{tag.color}-700);" bind:value={tag.color} on:change={handleEditTag}>
		<option value="strawberry" selected>Red</option>
		<option value="orange">Orange</option>
		<option value="banana">Yellow</option>
		<option value="lime">Lime</option>
		<option value="mint">Mint</option>
		<option value="blueberry">Blueberry</option>
		<option value="bubblegum">Bubblegum</option>
		<option value="grape">Grape</option>
		<option value="cocoa">Cocoa</option>
	</select>
	<input class="view text-view" type="text" maxlength="20" bind:value={tag.title} on:change={handleEditTag} />
	<input class="button button-destructive" type="button" value="Delete" on:click={handleDeleteTag} />
</li>

<style>
	li {
		list-style-type: none;
		margin: 0;
		display: flex;
		gap: 0.5rem;
		margin-bottom: 0.5rem;
	}

	input[type="text"] {
		flex-grow: 1;
	}
</style>
