<script>
	import TagPreferencesItem from "./TagPreferencesItem.svelte";

	export let preferences = {};

	if (!preferences.tags)
		preferences.tags = new Array();

	$: tags = preferences.tags;
</script>

<ul class="tag-preferences-list">
	{#each tags as tag, index (tag.id) }
		<TagPreferencesItem {tag} {index} bind:preferences={preferences} />
	{/each}
</ul>

<style>
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
	}
</style>
