<script>
	export let selectedTags = []
	export let availableTags = []

	import { createEventDispatcher } from "svelte";

	const dispatch = createEventDispatcher();

	let selectionValue
	let selectElement

	const handleTagSelect = (e) => {
		const tag = JSON.parse(e.target.value);
		selectedTags = [...selectedTags, tag];
		availableTags = availableTags.filter((item) => item.title != tag.title);
		selectionValue = "Select";
		dispatch("change");
	}

	const handleTagDelete = (e) => {
		const tag = JSON.parse(e.target.getAttribute("data-tag"));
		availableTags = [...availableTags, tag];
		selectedTags = selectedTags.filter((item) => item.title != tag.title);
		selectionValue = "Select";
		dispatch("change");
	}

</script>

<div class="tag-selector">
	<ul class="selected-tags-list view text-view">
		{#each selectedTags as tag}
			<li class="tag" 
				on:click={handleTagDelete} 
				style="background-image: linear-gradient(var(--{tag.color}-100), var(--{tag.color}-300); color: var(--{tag.color}-900); border-color: var(--{tag.color}-300);" 
				data-tag={JSON.stringify(tag)}>
				{tag.title}
			</li>
		{/each}
	</ul>
	<select type="option" class="dropdown" on:change={handleTagSelect} bind:this={selectElement} bind:value={selectionValue}>
		<option value="Select" disabled selected>Select</option>
		{#each availableTags as tag}
			<option value={JSON.stringify(tag)}>{tag.title}</option>
		{/each}
	</select>
</div>

<style>
	.tag-selector {
		display: flex;
	}

	.selected-tags-list {
		list-style-type: none;
		display: flex;
		gap: 0.5rem;
		margin: 0;
		flex-grow: 1;
		border-right: 0;
		border-radius: var(--view-radius) 0 0 var(--view-radius);
	}

	select {
		margin-right: 0;
		border-radius: 0 var(--view-radius) var(--view-radius) 0;
	}

	.tag {
		list-style-type: none;
		padding: 0.2rem;
		background-image: linear-gradient(var(--lime-100), var(--lime-300));
		border: 1px solid var(--lime-300);
		color: var(--lime-900);
		font-size: 0.7rem;
		border-radius: var(--card-radius);
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0 1px 0px rgba(255, 255, 255, 0.8);
		cursor: default;
	}

	.tag:hover::after {
		content: "✗";
		font-weight: 600;
		padding-left: 0.3rem;
		cursor: pointer;
	}

	option.selected {
		display: none;
	}
</style>
