<script>
	import { OpenWindows } from "../stores/OpenWindows.js"

	import Chunk from "./Chunk.svelte"

	export let task

	const handleOpenTaskEditor = (e) => {
		if (e.target.parentElement.classList.contains("checkbox-container") || e.target.classList.contains("checkbox-container"))
			return;

		OpenWindows.update((currentWindows) => {
			return [...currentWindows, {
				type: "task-editor",
				task: task
			}]
		})
	}

	const calculateTextColor = (backgroundColor) => {
		let hexString;
		const numerator = parseInt(backgroundColor.slice(1), 16);
		const denominator = parseInt("ffffff", 16);

		if (numerator > denominator)
			return "#000000"

		const TEXT_SHOULD_BE_LIGHT = Math.round(numerator / denominator) === 0;

		if (TEXT_SHOULD_BE_LIGHT) {
			hexString = "#" + (numerator + parseInt("707070", 16)).toString(16);
		} else {
			hexString = "#" + (numerator - parseInt("707070", 16)).toString(16);
		}
		
		return hexString;
	}


</script>

<div on:click={handleOpenTaskEditor} class="task-box">
	<div class="tags-list">
		{#each task.details.tags as tag}
			<li class="tag" 
				style="background-image: linear-gradient(var(--{tag.color}-100), var(--{tag.color}-300); color: var(--{tag.color}-900); border-color: var(--{tag.color}-300)">
				{tag.title}
			</li>
				
		{/each}
	</div>
	<h3 class="task-title">{task.details.title}</h3>
	<ul class="chunklist">
		{#each task.details.chunks as chunk}
			<Chunk {chunk} {task} />
		{/each}
	</ul>
</div>

<style>
	.task-box {
		padding: 0.8rem;
		background-color: white;
		box-shadow: var(--card-shadow);
		border-radius: var(--card-radius);
	}

	h3 {
		margin-block: 0.3rem;
		font-weight: normal;
	}

	.tags-list {
		display: flex;
		flex-direction: row;
		gap: 0.2rem;
	}

	.tag {
		list-style-type: none;
		padding: 0.2rem;
		background-image: linear-gradient(var(--lime-100), var(--lime-300));
		border: 1px solid var(--lime-300);
		color: #141;
		font-size: 0.7rem;
		border-radius: var(--card-radius);
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0 1px 0px rgba(255, 255, 255, 0.8);
	}

	.chunklist {
		padding-block-start: 0.2rem;
		padding-inline: 0.2rem;
		margin: 0;
	}
</style>
