<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { onMount } from "svelte"
	import { v4 as uuidv4 } from 'uuid'

	import TagSelector from "./TagSelector.svelte"
	import ChunklistEditor from "./ChunklistEditor.svelte"

	export let task

	let taskTitle = task.details.title
	let availableTags = []
	let selectedTags = task.details.tags
	let chunks = task.details.chunks.map((chunk) => ({...chunk, id: uuidv4()}))
	let taskReflection = task.details.reflection
	let taskPriority = task.details.priority

	const TASK_IS_DONE = task.status == "Done";

	const reflectionPlaceholder = "What went well? What went poorly?";

	onMount(async () => {
		const preferences = await fetch("api/student/preferences").then((res) => res.json())
		const STUDENT_HAS_TAGS = preferences.tags

		if (!STUDENT_HAS_TAGS) {
			return
		}

		availableTags = preferences.tags.filter((item) => {
			return !selectedTags
				.map((tag) => tag.id)
				.includes(item.id)
		})
	});

	const handleSave = async (e) => {
		e.preventDefault()

		if (taskTitle.length < 1) {
			return
		}

		const editedTask = {
			"title": taskTitle,
			"chunks": chunks,
			"tags": selectedTags,
			"reflection": taskReflection,
			"priority": taskPriority
		}

		const taskPath = `/api/student/tasks/${task.task_id}`

		let res = await fetch(taskPath, {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(editedTask)
		})
	}

	const handleDelete = async (e) => {
		e.preventDefault()

		const taskPath = `/api/student/tasks/${task.task_id}`

		let res = fetch(taskPath, {
			method: "DELETE"
		})

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}

</script>

<form>
	<!-- TASK TITLE -->
	<label for="input-task-title">Title</label>
	<input type="text" id="input-task-title" class="view text-view" bind:value={taskTitle} on:change={handleSave} />
	<!-- TASK TAGS -->
	<label for="input-task-title">Tags</label>
	<TagSelector {availableTags} bind:selectedTags={selectedTags} on:change={handleSave} />
	<!-- TASK CHUNKLIST -->
	<label for="chunklist-container">Chunklist</label>
	<ChunklistEditor bind:chunks={chunks} on:change={handleSave} />
	{#if TASK_IS_DONE}
		<!-- TASK REFLECTION -->
		<label for="reflection">Reflection</label>
		<textarea id="reflection" class="view text-view" placeholder={reflectionPlaceholder} bind:value={taskReflection} on:change={handleSave}></textarea>
	{/if}

	<button class="delete-task button button-destructive" on:click={handleDelete}>Delete Task</button>
</form>
{#if TASK_IS_DONE}
	<section class="teacher-comment-section">
		<h3>Teacher comment</h3>
		{#if !task.teacher_comment}
			<p class="teacher-comment no-comment">No comment yet...</p>
		{:else}
			<p class="teacher-comment">{task.teacher_comment}</p>
		{/if}
	</section>
{/if}

<style>
	form {
		display: grid;
		grid-template-columns: 20% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}
	
	form label {
		display: grid;
		text-align: right;
		place-items: center end;
	}
	
	label[for="chunklist-container"], label[for="reflection"] {
		display: block;
		text-align: right;
		margin-top: 0.4rem;
	}
	
	form #reflection {
		resize: none;
		height: 5rem;
	}

	.delete-task {
		grid-column: 1 / span 1;
	}

	.teacher-comment-section :not(:first-child) {
		margin-left: 0.5rem;
		font-size: 0.9rem;
	}

	.no-comment {
		color: var(--secondary-fg-color);
		text-align: center;
	}
</style>
