<script>
	import { OpenWindows } from "../stores/OpenWindows.js"
	import { onMount } from "svelte"

	import TagSelector from "./TagSelector.svelte"
	import ChunklistEditor from "./ChunklistEditor.svelte"

	let taskTitle
	let studentTags = []
	let selectedTags = []
	let chunks = []

	onMount(async () => {
		const preferences = await fetch("api/student/preferences").then((res) => res.json())
		const STUDENT_HAS_TAGS = preferences.tags

		if (!STUDENT_HAS_TAGS) {
			return
		}

		studentTags = preferences.tags
	});


	const tasksPath = `/api/student/tasks`

	const handleSave = async (e) => {
		e.preventDefault()

		const newTask = {
			title: taskTitle,
			chunks: chunks,
			tags: selectedTags,
			priority: 1
		}

		let res = await fetch(tasksPath, {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(newTask)
		})

		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}

</script>


<form>
	<!-- TASK TITLE -->
	<label for="input-task-title">Title</label>
	<input type="text" id="input-task-title" class="view text-view" bind:value={taskTitle} />
	<!-- TASK TAGS -->
	<label for="input-task-title">Tags</label>
	<TagSelector availableTags={studentTags} bind:selectedTags={selectedTags} />
	<!-- TASK CHUNKLIST -->
	<label for="chunklist-container">Chunklist</label>
	<ChunklistEditor bind:chunks={chunks} />

	<input class="button button-save" type="submit" value="Save" on:click={handleSave}>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 15% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}
	
	form label {
		display: grid;
		text-align: right;
		place-items: center end;
	}

	label[for="chunklist-container"] {
		display: block;
		text-align: right;
		margin-top: 0.4rem;
	}
	
	input[type="submit"] {
		grid-column: 1 / span 2;
	}
</style>
