<script>
	import Section from "./Section.svelte";

	let newPassword;
	let confirmedPassword;

	async function handleSavePassword(e) {
		e.preventDefault();

		if (newPassword != confirmedPassword) {
			alert("Passwords do not match");
			return;
		}

		const res = await fetch("/api/teacher/change-password", {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ password: newPassword })
		});

		newPassword = "";
		confirmedPassword = "";

		alert("Password successfully updated.");
	}

	async function handleDeleteAccount(e) {
		e.preventDefault();

		const res = await fetch("/api/teacher/delete-account", { method: "DELETE" });
		location.reload();
	}

</script>

<Section sectionTitle="Account">
	<section>
		<h4>Change password</h4>
		<form id="change-password" on:submit={handleSavePassword}>
			<label for="new-password">New password</label>
			<input class="view text-view" type="password" id="new-password" name="new-password" bind:value={newPassword} />
			<label for="confirm-new-password">Confirm password</label>
			<input class="view text-view" type="password" id="confirm-new-password" name="confirm-new-password" bind:value={confirmedPassword} />
			<input class="button button-save" id="save-password" type="submit" value="Save password" />
		</form>
	</section>
	<section>
		<h4>Delete account</h4>
		<form id="delete-account" on:submit={handleDeleteAccount}>
			<input class="button button-destructive" type="submit" value="Delete account" />
		</form>
	</section>
</Section>

<style>
	h4 {
		margin: 0;
	}

	section:not(:last-child) {
		margin-bottom: 1rem;
	}

	form {
		display: grid;
		grid-template-columns: 32% 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	label {
		display: block;
		text-align: right;
		margin-block: auto;
		font-size: 0.9rem;
}

	input[type="submit"] {
		grid-column: 1 / span 2;
	}
</style>
