<script>
	import {OpenWindows} from "../stores/OpenWindows.js"

	export let windowTitle
	export let buttonText
	export let buttonAction

	let closeWindow = () => {
		OpenWindows.update((currentWindows) => {
			return currentWindows.slice(0, -1)
		})
	}
</script>

<div class="window {windowTitle}">
	<header>
		<h2>{windowTitle}</h2>
		{#if buttonText && buttonAction}
			<button class="window-action" on:click={buttonAction}>{buttonText}</button>
		{/if}
		<button class="borderless-button" on:click={closeWindow}>
			<div>
				<span>&#x2716;</span>
			</div>
		</button>
	</header>
	<slot />
</div>

<style>
	div.window {
		position: fixed;
		inset: 10%;
		margin: auto;
		max-width: 500px;
		height: fit-content;
		max-height: 80%;
		background-color: var(--window-bg);
		color: var(--window-fg);
		padding: 1rem;
		overflow-y: auto;
		overflow-x: hide;
		box-shadow: var(--window-shadow), var(--window-highlight);
		outline: 1px solid var(--window-border);
		border-radius: var(--window-radius);
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	h2 {
		margin: 0;
	}

	button.window-action {
		margin-right: auto;
		margin-left: 1rem;
	}
</style>
