@import url("./ui.css");
@import url("./task-box.css");
@import url("./task-editor.css");
@import url("./top-bar.css");
@import url("./planner.css");
@import url("./my-week.css");
@import url("./teacher-home.css");
@import url("./student-details.css");

html {
	font-family: sans-serif;
}

html, body, #main-page, #planner-columns-container, .planner-column {
	height: 100%;
}

body {
	margin: 0;
}

#main-page {
	background-color: white;
}
