/* MY WEEK */

.side-pane {
	position: fixed;
	inset: 5% 0 5% auto;
	background-color: white;
	box-shadow: 0 0 1rem #ddd;
	padding: 1rem;
	width: 20rem;
}

#my-week {
	display: flex;
	flex-direction: column;
}

#days-container {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#days-container .day {
	border-top: 1px solid grey;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 10%;
	grid-template-rows: 2rem 1fr;
	gap: 0.3rem;
	flex-grow: 1;
	height: 100%;
}

h3.day-name, h4.day-name {
	margin-top: 0;
	margin-bottom: 0rem;
}

.events-list {
	padding: 0;
	margin: 0;
}

.events-list li {
	list-style-type: none;
	background-color: #5e7;
	padding: 0.3rem;
	color: white;
	display: flex;
	margin-block: 0.1rem;
}

.events-list li::after {
	margin-left: auto;
	font-weight: bold;
	content: ">";
}

.events-list li:hover {
	filter: brightness(95%);
}

.events-list li:active {
	filter: brightness(85%);
}

#days-container .day .arrow-button {
	grid-row: 1 / span 2;
	grid-column: 2;
}



/* EVENT DETAILS */

#my-week.previous-pane {
	transform: scale(90%) translateX(-3rem);
	filter: brightness(90%);
}

#event-details-pane {

}

