/* PLANNER COLUMNS */

#planner-columns-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 1rem;
}

.planner-column {
}

.planner-column .column-header {
	background-color: #ddd;
	padding: 0.5rem;
	width: fit-content;
}

.planner-column .column-header h2 {
	margin: 0;
}

.planner-column .column-tasks-container {
	height: 100%;
	background-color: #eee;
	padding: 1rem;
}
