#reflections-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
	height: 100vh;
}

.reflection-box {
	box-shadow: 0 0 0.5rem #ddd;
	width: 45%;
	margin-inline: auto;
	display: inline-block;
	height: fit-content;
}

.comment-box {
	background-color: #ccc;
	padding: 0.5rem;
}

.comment-box label {
	display: block
}

.comment-box textarea {
	resize: none;
	height: 3rem;
	width: 90%;
	display: block;
	margin-inline: auto;
}
