/* TASK EDITOR */

#task-editor {
}

#task-editor header {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
}

#task-editor h2 {
	margin-right: auto;
	margin-left: 0;
}

#task-editor button.close {
	margin-right: 0;
	margin-left: auto;
}

#task-editor form {
	display: grid;
	grid-template-columns: 15% 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

#task-editor form label {
	display: block;
	text-align: right;
}

#task-editor #task-tag-editor {
	display: flex;
}

#task-editor #task-tag-editor ul {
	margin: 0;
	padding: 0.5rem;
	border: 1px solid #889;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	border-radius: 0.2rem;
}

#task-editor #task-tag-editor .tag {
	background-color: #e99;
	color: #633;
	list-style-type: none;
	list-style-position: inside;
	padding: 0.3rem;
}

#task-editor #task-tag-editor .tag:hover::after {
	content: "✗";
	padding-left: 0.5rem;
}

#task-editor form #chunklist-container {
	padding-left: 1.5rem;
}

#task-editor form #chunklist {
	padding-left: 0;
	margin-block: 0;
}

#task-editor form .chunk > * {
	display: inline;
}

#task-editor form .chunk {
	list-style-type: none;
}

#task-editor form #reflection {
	resize: none;
	height: 5rem;
}
