/* TASK BOX */

.task-box {
	background-color: white;
	padding: 1rem;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}

.task-box .task-tag-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
}

.task-box .tag {
	background-color: #e99;
	color: #633;
	list-style-type: none;
	list-style-position: inside;
	padding: 0.1rem;
}

.task-box h3 {
	margin: 0;
}

.task-box .task-chunklist {
	padding-left: 1rem;
	margin: 0;
}

.task-box .chunk > * {
	display: inline;
}

.task-box .chunk {
	list-style-type: none;
}
