main#teacher-home {
	max-width: 600px;
	margin-inline: auto;
}

main#teacher-home section {
	margin-inline: 1rem;
}

section#students {
}

section#students #student-list {
	padding: 0;
	margin-inline: 1rem;
}

section#students #student-list li {
	list-style-type: none;
	padding: 0.5rem;
	background-color: #eee;
}

section#students #student-list li:hover {
	filter: brightness(95%);
}

section#students #student-list li:active {
	filter: brightness(85%);
}
