/* TOP BAR */

#top-bar {
	display: flex;
	gap: 0.5rem;
}

#top-bar #add-task {
	margin-right: auto;
	margin-left: 1rem;
}

#top-bar #controls-container {
	background-color: #eee;
	padding: 1rem;
	margin-top: 0;
	margin-left: auto;
	margin-right: 3rem;
}
