/* UNIVERSAL RESOURCES */

.dim {
	filter: brightness(85%);
}

.dimmer {
	filter: brightness(75%);
}

.button-action {
	margin: 0.5rem;
	padding: 0.5rem;
}

.dialog-window {
	position: fixed;
	inset: 5vh 40vw 5vh 40vw;
	min-width: 30rem;
	background-color: white;
	padding: 1rem;
	overflow: scroll;
	box-shadow: 0 0 1rem hsl(0deg 0% 80%);
}

.nested-window {
	inset: 15vh 50vw 15vh 50vw;
}

form.creation-form {
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

.creation-form label {
	display: block;
	text-align: right;
}

.creation-form input[type="text"] {
}

.creation-form textarea {
	resize: none;
	height: 5rem;
}

.creation-form input[type="submit"] {
	grid-column: 1 / span 2;
}
