<link rel="stylesheet" type="text/css" href="../style/main.css">

<!-- REFLECTION -->
<div class="reflection-box">
	<div class="task-box">
		<ul class="task-tag-list">
			<li class="tag">Work</li>
		</ul>
		<div class="task-title">
			<h3>My Task</h3>
		</div>
		<div class="task-reflection">
			<p>This task was a lot of fun and I learned a lot from doing it.</p>
		</div>
	</div>
	<div class="comment-box">
		<form>
			<label for="comment">Comment</label>
			<textarea class="comment" name="comment"></textarea>
			<input type="submit" value="Send"></input>
		</form>
	</div>
</div>

