<link rel="stylesheet" type="text/css" href="../style/main.css">

<div id="student-details" class="dialog-window">
	<header>
		<h2>John Doe</h2>
		<button>Edit</button>
		<button id="button-close-window">X</button>
	</header>
	<section id="student-events-container">
	<!-- STUDENT WEEK -->
		<header class="section-header">
			<h3>Student Events</h3>
			<button id="add-event-button">+ Add Event</button>
		</header>
		<div id="days-container">
			<div class="day" id="monday">
				<h4 class="day-name">Mon</h4 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="tuesday">
				<h4 class="day-name">Tues</h4 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="wednesday">
				<h4 class="day-name">Wed</h4 class="day-name">
				<ul class="events-list">
					<li class="public-event">Library Field Trip</li>
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="thursday">
				<h4 class="day-name">Thurs</h4 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="friday">
				<h4 class="day-name">Fri</h4 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
		</div>
	</section>
	<section id="student-reflections">
		<header class="section-header">
			<h3>Reflections</h3>
		</header>
		<div id="reflections-grid">
		</div>
	</section>
</div>

