<script>
	import TeacherHome from "./views/TeacherHome.svelte";
	import StudentHome from "./views/StudentHome.svelte";
	import Home from "./views/Home.svelte";

	let sessionType = fetch("/api/session-type").then((res) => res.json());
</script>

<main class="screen-height">
	{#await sessionType}
		<p>Loading...</p>
	{:then sessionType}
		{#if sessionType.session_type == "none" || !sessionType}
			<Home />
		{:else if sessionType.session_type == "student"}
			<StudentHome />
		{:else if sessionType.session_type == "teacher"}
			<TeacherHome />
		{/if}
	{:catch err}
		<pre>{err.message}</pre>
	{/await}

</main>

<style>
</style>
