@font-face {
	font-family: Inter;
	src: url("./static/fonts/inter.ttf");
}

:root, html, body, #app, .screen-height {
	height: 100%;
	background-color: var(--window-bg);
}

body {
	margin: 0;
}

input, textarea, button, select {
	font-family: inherit;
}

:focus-visible {
	outline: none;
	box-shadow: 0px 0px 2px var(--accent), inset 0px 0px 2px var(--accent) !important;
}

:root {
	/* ELEMENTARY PALETTE */

	--strawberry-100: #ff8c82;
	--strawberry-300: #ed5353;
	--strawberry-500: #c6262e;
	--strawberry-700: #a10705;
	--strawberry-900: #7a0000;

	--orange-100: #ffc27d;
	--orange-300: #ffa154;
	--orange-500: #f37329;
	--orange-700: #cc3b02;
	--orange-900: #a62100;

	--banana-100: #fff394;
	--banana-300: #ffe16b;
	--banana-500: #f9c440;
	--banana-700: #d48e15;
	--banana-900: #ad5f00;

	--lime-100: #d1ff82;
	--lime-300: #9bdb4d;
	--lime-500: #68b723;
	--lime-700: #3a9104;
	--lime-900: #206b00;

	--mint-100: #89ffdd;
	--mint-300: #43d6b5;
	--mint-500: #28bca3;
	--mint-700: #0e9a83;
	--mint-900: #007367;

	--blueberry-100: #8cd5ff;
	--blueberry-300: #64baff;
	--blueberry-500: #3689e6;
	--blueberry-700: #0d52bf;
	--blueberry-900: #002e99;

	--bubblegum-100: #fe9ab8;
	--bubblegum-300: #f4679d;
	--bubblegum-500: #de3e80;
	--bubblegum-700: #bc245d;
	--bubblegum-900: #910e38;

	--grape-100: #e4c6fa;
	--grape-300: #cd9ef7;
	--grape-500: #a56de2;
	--grape-700: #7239b3;
	--grape-900: #452981;

	--cocoa-100: #a3907c;
	--cocoa-300: #8a715e;
	--cocoa-500: #715344;
	--cocoa-700: #57392d;
	--cocoa-900: #3d211b;

	--silver-100: #fafafa;
	--silver-300: #d4d4d4;
	--silver-500: #abacae;
	--silver-700: #7e8087;
	--silver-900: #555761;

	--slate-100: #95a3ab;
	--slate-300: #667885;
	--slate-500: #485a6c;
	--slate-700: #273445;
	--slate-900: #0e141f;

	--black-100: #666;
	--black-300: #4d4d4d;
	--black-500: #333;
	--black-700: #1a1a1a;
	--black-900: #000;

	font-family: Inter, sans-serif;

	/* BACKGROUND COLOURS */

	--bg-color: #f5f5f5;
	--secondary-bg-color: #f1f1f1;

	--window-bg: #f5f5f5;
	--view-bg: #ffffff;
	--sidebar-bg: #ffffff;
	--secondary-sidebar-bg: #f1f1f1;
	--headerbar-bg: linear-gradient(#e5e5e5, #e0e0e0);
	--dropdown-bg: var(--silver-100);
	--card-bg: #ffffff;
	--dialog-bg: #fafafa;

	--item-hover-bg: rgba(255, 255, 255, 0.05);
	--item-active-bg: rgba(255, 255, 255, 0.15);
	--item-selected-bg: rgba(255, 255, 255, 0.1);
	--item-selected-hover-bg: rgba(255, 255, 255, 0.15);
	--item-selected-active-bg: rgba(255, 255, 255, 0.2);

	/* FOREGROUND COLOURS */

	--fg-color: #333333;
	--secondary-fg-color: #555555;

	--window-fg: #333333;
	--secondary-window-fg: #555555;
	--view-fg: #333333;
	--sidebar-fg: #333333;
	--secondary-sidebar-fg: #333333;
	--headerbar-fg: #333333;
	--card-fg: #333333;
	--secondary-card-fg: #555555;
	--dialog-fg: #333333;

	/* BORDERS */

	--border: var(--silver-300);
	--border-darker: var(--silver-500);

	--view-border: var(--silver-500);
	--window-border: var(--silver-500);
	--dropdown-border: var(--silver-500);

	--radius: 3px;
	--window-radius: 3px;
	--view-radius: 3px;
	--button-radius: 4px;
	--dropdown-radius: 4px;
	--card-radius: 3px;
	--item-radius: 2px;

	/* SHADOWS */

	--shade: rgba(0, 0, 0, 0.12);
	--shade-darker: rgba(0, 0, 0, 0.24);

	--window-shadow: 0px 3px 8px var(--shade-darker);
	--card-shadow: 0 0.05rem 0.3rem var(--shade), 0 0.05rem 0.2rem var(--shade-darker);
	--dropdown-shadow: 0px 1px 2px var(--shade);
	--active-shadow: 0px 0px 1px var(--shade);
	--view-shadow: inset 0px 0px 2px var(--shade-darker);

	/* HIGHLIGHT */

	--highlight: inset 0px 1px 0px rgba(255, 255, 255, 0.8);

	--window-highlight: inset 0px 1px 0px rgba(255, 255, 255, 0.8);
	--button-highlight: inset 0px 1px 0px rgba(255, 255, 255, 0.8);
	--dropdown-highlight: inset 0px 1px 0px rgba(255, 255, 255, 1);
	--view-highlight: 0px 1px 0px rgba(255, 255, 255, 0.8);

	/* SEMANTIC COLORS */

	--accent: var(--blueberry-500);
	--accent-bg: var(--blueberry-300);
	--accent-fg: var(--blueberry-700);

	--destructive: var(--strawberry-500);
	--destructive-bg: var(--strawberry-300);
	--destructive-fg: var(--strawberry-700);

	--success: var(--lime-500);
	--success-bg: var(--lime-300);
	--success-fg: var(--lime-700);

	--warning: var(--banana-500);
	--warning-bg: var(--banana-300);
	--warning-fg: var(--banana-700);

	--error: var(--strawberry-500);
	--error-bg: var(--strawberry-300);
	--error-fg: var(--strawberry-700);
}



/* BUTTONS */

.button {
	font: inherit;
	font-size: 0.8rem;
	padding: 0.5rem;
	border: 1px solid var(--silver-300);
	border-radius: var(--button-radius);
	color: var(--window-fg);
	background-color: var(--window-bg);
	box-shadow: 0px 1px 2px var(--shade), var(--button-highlight);
}

.button:hover {
	filter: brightness(0.97);
}

.button:active {
	filter: brightness(0.95);
	box-shadow: 0px 0px 1px var(--shade);
}

.button-inset {
	box-shadow: inset 0px 1px 2px var(--shade);
}

.button-inset:active {
	box-shadow: inset 0px 2px 2px var(--shade);
	filter: brightness(0.93);
}

.button-suggested {
	background-color: color-mix(in srgb, var(--accent-bg) 30%, white 70%);
	border: 1px solid var(--accent);
	color: var(--accent-fg);
}

.button-destructive {
	background-color: color-mix(in srgb, var(--destructive-bg) 30%, white 70%);
	border: 1px solid var(--destructive);
	color: var(--destructive-fg);
}

.button-save {
	background-color: color-mix(in srgb, var(--success-bg) 30%, white 70%);
	border: 1px solid var(--success);
	color: var(--success-fg);
}

/*
 *  A borderless button contains a div, which contains
 *  a span, which contains the button text.
 */
.borderless-button {
	background-color: transparent;
	border: none;
}

.borderless-button > div {
	background-color: var(--window-bg);
	border: none;
	color: var(--secondary-fg-color);
	border-radius: 40%;
	height: 1.2rem;
	width: 1.2rem;
	display: flex;
}

.borderless-button > div > span {
	margin: auto;
}

.borderless-button:hover > div {
	box-shadow: inset 0px 1px 1px var(--shade);
	outline: 1px solid var(--border);
}

.borderless-button:active > div {
	box-shadow: inset 0px 2px 3px var(--shade);
	filter: brightness(0.95);
	outline: 1px solid var(--border);
}


/* INPUTS */

.view {
	color: var(--view-fg);
	background-color: var(--view-bg);
	border: 1px solid var(--view-border);
	border-radius: var(--view-radius);
	box-shadow: var(--view-shadow), var(--view-highlight);
}

.text-view {
	color: var(--view-fg);
	padding: 0.5rem;
	font-size: 0.8rem;
}

.dropdown {
	background-color: var(--dropdown-bg);
	border: 1px solid var(--dropdown-border);
	border-radius: var(--dropdown-radius);
	box-shadow: var(--dropdown-highlight), var(--dropdown-shadow);
	color: var(--fg-color);
	padding: 0.5rem;
}

.dropdown:hover {
	filter: brightness(0.97);
}

.dropdown:active {
	filter: brightness(0.95);
	box-shadow: var(--active-shadow);
}

/* HYPERLINKS */

a:link, a:visited {
	color: var(--accent-fg);
	text-decoration: none;
	filter: none;
}

a:active {
	filter: brightness(0.8);
}
