<link rel="stylesheet" type="text/css" href="../style/my-week.css">

<aside id="add-event" class="side-pane">
	<header id="add-event-header">
		<button>&leftarrow; Back</button>
		<h2>Add Event</h2>
	</header>
	<form class="creation-form">
		<label for="input-title">Title</label>
		<input type="text" id="input-title">
		<label for="select-day">Day</label>
		<select id="select-day">
			<option value="" disabled selected>Select day</option>
			<option value="monday">Monday</option>
			<option value="tuesday">Tuesday</option>
			<option value="wednesday">Wednesday</option>
			<option value="thursday">Thursday</option>
			<option value="friday">Friday</option>
		</select>	
		<label for="input-description">Description</label>
		<textarea id="input-description"></textarea>
		<input type="submit" value="Save"></input>
	</form>
</aside>
