<link rel="stylesheet" type="text/css" href="../style/my-week.css">

<aside id="day-details" class="side-pane">
	<header id="event-details-header">
		<button class="back-button">&leftarrow; Back</button>
		<h2>Day details</h2>
	</header>
	<section>
		<h3 id="day-title">Monday</h3>
		<ul class="events-list">
			<li>Soccer Game</li>
		</ul>
	</section>
</aside>
