<link rel="stylesheet" type="text/css" href="../style/my-week.css">

<!-- EVENT DETAILS -->
<aside id="event-details-pane" class="side-pane">
	<header id="event-details-header">
		<button class="back-button">&leftarrow; Back</button>
		<h2>Event details</h2>
	</header>
	<section>
		<h3 id="event-title">Soccer Game</h3>
		<p id="event-description">Our weekly soccer game against Mighty Mountain</p>
	</section>
</aside>
