<link rel="stylesheet" type="text/css" href="../style/my-week.css">

<div id="my-week-container">
	<!-- MY WEEK-->
	<aside id="my-week" class="side-pane">
		<header id="my-week-header" class="section-header">
			<h2>My Week</h2>
			<button id="add-event-button">+ Add Event</button>
		</header>
		<div id="days-container">
			<div class="day" id="monday">
				<h3 class="day-name">Mon</h3 class="day-name">
				<ul class="events-list">
					<li>Soccer Game</li>
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="tuesday">
				<h3 class="day-name">Tues</h3 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="wednesday">
				<h3 class="day-name">Wed</h3 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="thursday">
				<h3 class="day-name">Thurs</h3 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
			<div class="day" id="friday">
				<h3 class="day-name">Fri</h3 class="day-name">
				<ul class="events-list">
				</ul>
				<button class="arrow-button">&rightarrow;</button>
			</div>
		</div>
	</aside>
</div>

