<link rel="stylesheet" href="../style/task-box.css"></link>

<!-- TASK BOX -->
<div class="task-box">
	<ul class="task-tag-list">
		<li class="tag">Work</li>
	</ul>
	<div class="task-title">
		<h3>My Task</h3>
	</div>
	<ul class="task-chunklist">
		<li class="chunk">
			<input type="checkbox"></input>
			<p>Do the task</p>
		</li>
		<li class="chunk">
			<input type="checkbox"></input>
			<p>Continue the task</p>
		</li>
		<li class="chunk">
			<input type="checkbox"></input>
			<p>Finish the task</p>
		</li>
	</ul>
</div>
<!-- END OF BOX -->

