<link rel="stylesheet" href="../style/task-editor.css"></link>

<!-- TASK EDITOR -->
<div id="task-editor" class="dialog-window">
	<header id="task-editor-header">
		<h2>Edit Task</h2>
		<button class="close">X</button>
	</header>
	<form>
		<!-- TASK TITLE -->
		<label for="input-task-title">Title</label>
		<input type="text" id="input-task-title">
		<!-- TASK TAGS -->
		<label for="input-task-title">Tags</label>
		<div id="task-tag-editor">
			<ul>
				<li class="tag">Work</li>
			</ul>
			<select type="option">
				<option value="" disabled selected>Select Tags</option>
				<option value="work">Work</option>
				<option value="personal">Personal</option>
				<option value="school">School</option>
			</select>
		</div>
		<!-- TASK CHUNKLIST -->
		<label for="chunklist-container">Chunklist</label>
		<div id="chunklist-container">
			<ul id="chunklist">
				<li class="chunk">
					<input type="checkbox"></input>
					<p>Start the task</p>
				</li>
				<li class="chunk">
					<input type="checkbox"></input>
					<p>Continue the task</p>
				</li>
				<li class="chunk">
					<input type="checkbox"></input>
					<p>Keep on pushing</p>
				</li>
				<li class="chunk">
					<input type="checkbox"></input>
					<p>Finish the task</p>
				</li>
			</ul>
			<!-- CHUNK CREATOR -->
			<div id="add-chunk-container">
				<input type="text"></input>
				<button>Add Chunk</button>
			</div>
		</div>
		<!-- TASK REFLECTION -->
		<label for="reflection">Reflection</label>
		<textarea id="reflection"></textarea>
	</form>
</div>
